/*----------------------------------------------
COLORS
------------------------------------------------*/

/*

black (dark text, backgrounds)	#0d0d0d
default text color (body)				#4d4d4d
light text color	 							#808080
grey light background						#f2f2f2
main color		 									#ea4452

orange light										#FF6E5D
orange medium										#E14D3C
orange dark											#D13B29
yellowgreen light								#FFEC00
yellowgreen meium								#E2D102
yellowgreen dark								#C3B400
greenyellow light								#E3FF32
greenyellow medium							#99FF4A
greenyellow dark								#9FB700
blue light											#95FFFC
bluegreen												#5BCDCA
greenblue light									#5DFFDD
greenblue medium								#00C59B
greenblue medium 2							#009A7A
greenblue dark									#3DA6A3
violet light										#DCDCFF
magenta light										#FF56A6
magenta medium									#D90C6D
magenta dark										#990048
indigo light										#8A8AD5
indigo medium										#7A56FF
indigo dark											#414187
blue medium											#340ACC
blue dark												#1C0084

*/


/*----------------------------------------------
0. RESET & CLEARFIX
------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption,figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; }

ol, ul  { list-style: none; }

:focus  { outline: 0; }

/* deleting the default appearence for form elements */

input[type=text], input[type=password], input[type=submit], textarea, select { -moz-appearance: none; -webkit-appearance: none; }

.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0;	height: 0; line-height: 0; width:100%; }

/* HTML5 display definitions */

article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }


/*----------------------------------------------
1. BASICS
------------------------------------------------*/

html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
	}

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.02em;
	font-size: 16px;
	line-height: 26px;
	color:#4d4d4d;
	text-align: left;
	position: relative;
	background: #fff;
	min-height: 100%;
	}
::selection { background:#0d0d0d; color:#fff; }
::-moz-selection { background:#0d0d0d; color:#fff; }
::-webkit-selection { background:#0d0d0d; color:#fff; }


/* Headings
---------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Baloo Bhai', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #0d0d0d;
	}
	.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 { color: #fff; }

h1 { font-size: 84px; line-height: 96px; }
h2 { font-size: 56px; line-height: 66px; }
h3 { font-size: 34px; line-height: 42px; }
h4 { font-size: 27px; line-height: 34px; }
h5 { font-size: 20px; line-height: 26px; }
h6 { font-size: 16px; line-height: 21px; }

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 700; }

/* Headers Spacing */

div h1, div h2, div h3, div h4, div h5, div h6 { margin-top: 30px; }
div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child { margin-top: 0px !important; }

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h1 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 { margin-top: 10px; }

.alttitle { font-family: 'Josefin Sans', Georgia; font-weight: 400; text-transform: none; letter-spacing: 0.04em; }
.alttitle b, .alttitle strong { font-weight: 700; }

/* headers with link */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #0d0d0d; 	}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #ea4452; }


/* Links
---------------------------------------- */

a {
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0.0);
	color: #ea4452;
	}
	a:hover { color: #0d0d0d; }

.text-light a:hover { color: #fff; }


/* Embedded content
---------------------------------------- */

img, object, video {
	max-width: 100%;
	height: auto;
	display: inline-block;
	margin:0;
    vertical-align:top;
	}

img {
	width: auto;
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	}

p img { margin-top: 20px; }
p img:first-child { margin-top: 0px; }
img.alignleft { margin: 3px 20px 20px 0; float: left; }
img.alignright { margin: 3px 0px 20px 20px; float: right; }


/* Lists
---------------------------------------- */

ul {
	margin-top: 20px;
	margin-left: 15px;
	list-style: disc;
	}
	div ul:first-child, li ul:first-child { margin-top: 0px; }

ol {
	margin-top: 20px;
	margin-left: 30px;
	list-style: decimal;
	}
	div ol:first-child, li ol:first-child { margin-top: 0px; }

ul li, ol li {
	margin-top: 10px;
	}
	ul li:first-child, ol li:first-child { margin-top: 0px; }

ul.list-nostyle {
	list-style: none !important;
	margin-left: 0 !important;
	}

ul.list-nostyle li > .fa {
	margin-right: 10px;
	}


/* Others
---------------------------------------- */

p {
	margin-top: 20px;
	}
	div p:first-child {  margin-top: 0px;  }

strong, b, dt {
	font-weight: 600;
}

i, dfn, em {
	font-style: italic;
	}

strong i, b i, dt i, strong em, b em, dt em {
	font-style: italic;
	font-weight: 700;
	}

blockquote {
	margin: 60px;
	font-size: 24px; line-height: 32px;
	font-family: 'Josefin Sans', Georgia;
	font-weight: 300;
	color: #0d0d0d;
	font-style: italic;
	}
	div blockquote:first-child {  margin-top: 0px;  }

blockquote p {
	margin: 0;
	}

pre, code {
	padding: 20px;
	margin-top: 20px;
	font-size: 12px;
	line-height: 16px;
	display: block;
	background: #f7f7f7;
	color: #0d0d0d;
	}
	div pre:first-child, div code:first-child { margin-top: 0px; }

p pre, p code {
	padding: 0 5px;
	margin-top: 0;
	display: inline-block;
	}


/*----------------------------------------------
2. GENERAL ELEMENTS
------------------------------------------------*/

#page-content {
	overflow: hidden;
	margin: 0;
	min-width: 1080px;
	}

#page-body {
	padding-top: 150px;
	}
	#page-body.nopadding { padding: 0; }

.wrapper {
	width: 1080px;
	margin: 0 auto;
	}
	.wrapper-small { width: 780px;	margin: 0 auto; }
	.wrapper-mini { width: 400px;	margin: 0 auto; }
	.wrapper:after, .wrapper-small:after, .wrapper-mini:after  { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }

.left-float {
	float: left;
	}

.right-float {
	float: right;
	}

.align-center {
	text-align: center;
	}

.align-right {
	text-align: right;
	}

.text-light {
	color: #fff;
	}

.colored {
	color: #ea4452;
	}


/*----------------------------------------------
4. PAGELOADER
------------------------------------------------*/

.pace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 4px;
    background: transparent;
    z-index: 999999;
	transition: all 800ms .2s ease-in-out;
	-webkit-transition: all 800ms .2s ease-in-out;
    -moz-transition: all 800ms .2s ease-in-out;
    -o-transition: all 800ms .2s ease-in-out;
    -ms-transition: all 800ms .2s ease-in-out;
	 opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
body.loading-end .pace { opacity:0!important;filter:alpha(opacity=0)!important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"!important; }

.pace .pace-progress {
    background: #000000;
    z-index: 2000;
    height: 4px;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -khtml-transition: all 1s;
    transition: all 1s;
}

.pace-inactive {
   display: none;
}

#page-loader {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 9;
	}

#page-loader .loader-logo-name {
	position: absolute;
	top: 40px;
	left: 0;
	text-align: center;
	width: 100%;
	}

#page-loader .loader-logo-name img {
	height: 30px;
	}

#page-loader .loader-subtitle {
	margin-top: 10px;
	}

#page-loader .loader {
	margin-top: 40px;
	font-family: 'Baloo Bhai', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #0d0d0d;
	font-size: 32px;
	line-height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 0;
	text-align: center;
	width: 100%;
	}


/*----------------------------------------------
7. HERO / PAGETITLE
------------------------------------------------*/

#hero {
	position: relative;
	overflow: hidden;
	}

/* hero slider */

#hero .hero-slider {
	position: relative;
	}

#hero .hero-slider .slider-item {
	height: 100vh;
	position:relative;
	background-position: center center;
	background-size: cover;
	}

#hero.hero-big .hero-slider .slider-item { height: 600px; max-height: 90vh; }
#hero.hero-half .hero-slider .slider-item { height: 400px; max-height: 60vh; }

/* hero pagetitle */

#hero .page-title {
	padding-top: 200px;
	padding-bottom: 120px;
	position: relative;
	text-align: center;
	}
	#hero .page-title:not(.wrapper) { width: calc(100% - 80px); padding-left: 40px; padding-right: 40px; }

#hero.hero-full { height: 100vh; }
#hero.hero-big { height: 600px; max-height: 90vh;}
#hero.hero-half { height: 400px; max-height: 60vh; }

#hero.hero-full .page-title, #hero.hero-big .page-title, #hero.hero-half .page-title {
	padding: 0;
	position: absolute;
	top: 50%;
	left: 40px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	}

#hero .page-title.hleft { text-align: left; }
#hero.hero-full .page-title.hright, #hero.hero-big .page-title.hright, #hero.hero-half .page-title.hright { text-align: right; left: auto; right: 40px; }
#hero.hero-full .page-title.vbottom, #hero.hero-big .page-title.vbottom, #hero.hero-half .page-title.vbottom
{ top: auto; bottom: 60px; -webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none; transform: none; }
#hero.hero-full .page-title.vtop, #hero.hero-big .page-title.vtop, #hero.hero-half .page-title.vtop
{ bottom: auto; top: 60px; -webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none; transform: none; }

/* if wolf item in page-title */

#hero .page-title .wolf-item  { margin-bottom: 0px; }

/* scroll down */

#scroll-down {
	text-align: center;
	font-size: 12px;
	font-family: "Maven Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #0d0d0d;
	line-height: 20px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	transition: all 0.2s ease;
	z-index: 2;
	}
	#scroll-down.text-light, .text-light #scroll-down { color: #fff; }

#scroll-down:before {
	text-align: center;
	content: "\f123";
	font-family: "Ionicons";
	font-size: 10px;
	line-height: 10px;
	height: 10px;
	width: 10px;
	text-align: center;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;

	-webkit-animation: chevron-anim 2s ease infinite;
  	-moz-animation:    chevron-anim 2s ease infinite;
  	-o-animation:      chevron-anim 2s ease infinite;
  	animation:         chevron-anim 2s ease infinite;
	}

@-webkit-keyframes chevron-anim {
  0%   	{ bottom: -10px; }
  50% 	{ bottom: -20px; }
  100% 	{ bottom: -10px; }
}
@-moz-keyframes chevron-anim {
  0%   	{ bottom: -10px; }
  50% 	{ bottom: -20px; }
  100% 	{ bottom: -10px; }
}
@-o-keyframes chevron-anim {
  0%   	{ bottom: -10px; }
  50% 	{ bottom: -20px; }
  100% 	{ bottom: -10px; }
}
@keyframes chevron-anim {
  0%   	{ bottom: -10px; }
  50% 	{ bottom: -20px; }
  100% 	{ bottom: -10px; }
}


/*----------------------------------------------
8. PORTFOLIO
------------------------------------------------*/

/* portfolio wolf items hover effect */

.portfolio-wolf-item .portfolio-caption a {
	transition: all 0.3s ease 0.05s;
	display: block;
	}

.portfolio-wolf-item .portfolio-caption a:hover, .portfolio-wolf-item .portfolio-caption.hovered a {
	-webkit-transform: translateX(-20px);
  	-moz-transform: translateX(-20px);
  	-ms-transform: translateX(-20px);
  	-o-transform: translateX(-20px);
  	transform: translateX(-20px);
	}
.portfolio-wolf-item.wright .portfolio-caption a:hover, .portfolio-wolf-item.wright .portfolio-caption.hovered a {
	-webkit-transform: translateX(20px);
  	-moz-transform: translateX(20px);
  	-ms-transform: translateX(20px);
  	-o-transform: translateX(20px);
  	transform: translateX(20px);
	}

.portfolio-wolf-item .portfolio-media a.wolf-media-link img {
	transition: all 0.5s ease 0.05s;
	}
	.portfolio-wolf-item .portfolio-media a.wolf-media-link:hover img, .portfolio-wolf-item .portfolio-media.hovered a.wolf-media-link img {
	-webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
     transform:scale(1.05);
	}


/*----------------------------------------------
11. MASONRY
------------------------------------------------*/

.masonry {
	width: calc(100% + 120px);
	margin-bottom: -100px;
	overflow: visible !important;
	}

.masonry .masonry-item {
	width: 24.98%; /* will be overwritten by javascript */
	margin-right: 120px;
	margin-bottom: 100px;
	float: left;
	}

#portfolio-grid.masonry {
	width: calc(100% + 60px);
	margin-bottom: -60px;
	}

#portfolio-grid.masonry .masonry-item {
	margin-right: 60px;
	margin-bottom: 60px;
	}

#portfolio-grid.masonry {
	margin-bottom: -60px;
	}


/*----------------------------------------------
12. HORIZONTAL SECTIONS
------------------------------------------------*/

.horizontal-section .horizontal-inner {
	padding: 120px 0;
	}


/*----------------------------------------------
14. COLUMNS GRID
------------------------------------------------*/

.column-section { margin-top: 60px; }
div .column-section:first-child, .spacer + .column-section { margin-top: 0px; }

.column {
	float: left;
	margin-right: 60px;
	min-height: 1px;
	}

.one-full { width: 100%; float: none; margin-right: 0; }
.one-half  { width: 510px; }
.one-third { width: 320px; }
.two-third { width: 700px; }
.one-fourth { width: 225px; }
.two-fourth { width: 510px; }
.three-fourth { width: 795px; }
.one-fifth { width: 168px; }
.two-fifth { width: 396px; }
.three-fifth { width: 624px; }
.four-fifth { width: 852px; }

.wrapper-small .one-half { width: 360px; }
.wrapper-small .one-third { width: 220px; }
.wrapper-small .two-third { width: 500px; }
.wrapper-small .one-fourth { width: 150px; }
.wrapper-small .two-fourth { width: 360px; }
.wrapper-small .three-fourth { width: 570px; }
.wrapper-small .one-fifth { width: 108px; }
.wrapper-small .two-fifth { width: 276px; }
.wrapper-small .three-fifth { width: 444px; }
.wrapper-small .four-fifth { width: 612px; }

.wrapper-mini .column { float: none; margin-right: 0px; width: 100%; }

.last-col { margin-right: 0px !important; }


/*	Buttons
------------------------------------------------*/

a.sr-button {
	display: inline-block;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px !important;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	-webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
	color: #fff;
	padding: 15px 50px;
	background: #0d0d0d;
	}
a.sr-button:hover { background: #ea4452; }

a.mini-button { font-size: 10px; padding: 10px 40px; }
a.small-button { font-size: 12px; padding: 15px 50px; }
a.medium-button { font-size: 14px; padding: 18px 56px; }
a.big-button { font-size: 16px;	padding: 22px 65px;	}

a.sr-button1 { background: #0d0d0d; }
a.sr-button1:hover { background: #ea4452; }

a.sr-button2 { background: #ea4452; }
a.sr-button2:hover { background: #0d0d0d; }

a.sr-button3 { background: #fff; }
a.sr-button3:hover { background: #ea4452; }

a.sr-button4 { background: #ea4452; }
a.sr-button4:hover { background: #fff; }


.sr-button-text {
	font-family: 'Maven Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 12px;
	line-height: 20px;
	transition: all 200ms ease;
	}


/*	Spacer
------------------------------------------------*/

.spacer {
	width: 100%;
	display: block;
	}

.spacer.spacer-mini { height: 20px; }
.spacer.spacer-small { height: 40px; }
.spacer.spacer-medium { height: 120px; }
.spacer.spacer-big { height: 160px; }


/*	inline video
------------------------------------------------*/

.inline-video {
	position: relative;
	cursor: pointer;
	display: inline-block;
	max-width: 100%;
	}
	.slider-item.inline-video, .parallax-section.inline-video { display: inherit; }

.inline-video:before {
	content: "\f488";
	font-family: "Ionicons";
	color: #fff;
	font-size: 90px;
	width: 65px;
	height: 70px; line-height: 70px;
	text-align: center;
	position: absolute;
	top: 50%; margin-top: -35px;
	left: 50%; margin-left: -35px;
	padding-left: 5px;
	}

.inline-video:hover::before {
	color: #ea4452;
	}

.inline-video:after {
	content: attr(data-button);
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	position: absolute;
	top: 50%; margin-top: 45px;
	left: 0;
	width: 100%;
	height: auto;
	text-align:center;
	}

.inline-video .inline-iframe-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	}

.inline-video .inline-iframe-container .close-inline-video {
	content: "\f488";
	font-family: "Ionicons";
	color: #fff;
	width: 70px;
	height: 70px; line-height: 70px;
	text-align: center;
	position: absolute;
	top: 7px;
	left: 50%; margin-left: -35px;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: all 0.2s ease;
	}
	.inline-video .inline-iframe-container .close-inline-video:hover {
	color: #ea4452;
	}
	.inline-video.active .inline-iframe-container:hover .close-inline-video {
	opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}

.inline-video .inline-iframe-container .close-inline-video:before {
	content: "\f12a";
	font-family: "Ionicons";
	font-size: 40px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	}


/*	img hover effect
------------------------------------------------*/

a.img-hover {
	display: inline-block;
	max-width: 100%;
	width: auto;
	position: relative;
	overflow: hidden;
	}

a.img-hover:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	z-index: 1;
	}
	a.img-hover.hover-dark:before { background: #000000; }

a.img-hover:hover::before { opacity: 0.7; filter: alpha(opacity=7); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
a.img-hover.hover-dark:hover::before { opacity: 0.6; filter: alpha(opacity=60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

a.img-hover img {
	transition: all 0.6s ease;
	}

a.img-hover:hover img {
	-webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);
    -o-transform:scale(1.07);
     transform:scale(1.07);
	}

a.img-hover .hover-caption {
	width: calc(100% - 80px);
	position: absolute;
	bottom: 30px;
	left: 0px;
	z-index: 1;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
	}

a.img-hover:hover .hover-caption {
	opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	left: 30px;
	-webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
	}


/*	custom styles
------------------------------------------------*/

/* global*/

#hero > p {
	margin-top: 2em;
}

#hero > p a {
	color: #fff;
}

#hero .alttitle {
	margin-top: 20px;
}

.page-title h1 {
	color: #fff;
}

.panorama {
	height: auto !important;
}

.custom-caption {
	margin-top: 0;
}

.portfolio-wolf-item .portfolio-caption a {
	background-color: #fff;
	padding: 20px;
}

#lightcase-case .lightcase-title {
	text-shadow: none;
}

.lightcase-inlineWrap {
	text-align: center;
}

#lightcase-nav a.lightcase-icon-close:after, #lightcase-nav a.lightcase-icon-close:before {
  background-color: #340ACC !important;	
}

#lightcase-nav a.lightcase-icon-close:after, #lightcase-nav a.lightcase-icon-close:before {
  background-color: #340ACC !important;
}

#lightcase-nav a.lightcase-icon-prev span:before,
#lightcase-nav a.lightcase-icon-next span:before {
  background: #340ACC !important;
}

#lightcase-nav a.lightcase-icon-prev span,
#lightcase-nav a.lightcase-icon-next span {
  border-color: transparent transparent transparent #340ACC !important;
}

#lightcase-nav a.lightcase-icon-prev span {
  border-color: transparent #340ACC transparent transparent !important;
}

h4.lightcase-title {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	text-transform: none;
	color: #990048;
}

a,
a.sr-button {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

a.img-hover {
	cursor: url(../uploads/magnifying-glass.svg), pointer;
}

a.img-hover:hover:before {
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.inline-video:before {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.peru-caption {
	margin-left: 10px;
}

p.footer-link {
	border-top: 1px solid #fff;
	padding-top: 20px;
}

p.footer-link-small a {
	color: #333;
	opacity: .4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

p.footer-link-small a:hover {
	color: #333;
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

small {
	font-size: 85%;
}

@media only screen and (max-width: 760px) {

  .wolf-responsive .wolf-item {
  	height: auto !important;
  	position: static;
  }

}

@media only screen and (min-width: 761px) {

	.margin-top-50 {
		margin-top: 50px;
	}

  .margin-top-100 {
		margin-top: 100px;
	}

}

/* main */

.main h1 {
	font-size: 32px;
	font-size: 2rem;
}

.main h3 a.fancy-link {
	position: relative;
	color: #fff;
}

.main h3 a.fancy-link:hover {
	color: #fff;
}

.main h3 a.fancy-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #7A56FF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main h3 a.fancy-link:hover:after {
  width: 100%;
}

.text-pop {
  margin-left: 20px;
	-webkit-animation: text-pop 0.6s both;
	animation: text-pop 0.6s both;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

.main h5.alttitle {
	color: #fff;
}

@-webkit-keyframes text-pop {
  0% {
    text-shadow: 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #FFEC00, 2px 2px #FFEC00, 3px 3px #FFEC00, 4px 4px #FFEC00, 5px 5px #FFEC00, 6px 6px #FFEC00, 7px 7px #FFEC00, 8px 8px #FFEC00;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes text-pop {
  0% {
    text-shadow: 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00, 0 0 #FFEC00;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #FFEC00, 2px 2px #FFEC00, 3px 3px #FFEC00, 4px 4px #FFEC00, 5px 5px #FFEC00, 6px 6px #FFEC00, 7px 7px #FFEC00, 8px 8px #FFEC00;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}

.enlarge-1 {
	font-size: 56px;
	font-size: 3.5rem;
	line-height: 1;
}

.enlarge-2 {
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 1;
}

.main #page-loader .loader {
	color: #FFEC00;
}

.main #page-body {
	background: -webkit-linear-gradient(30deg, #F3FF61, #FFEC00);
	background: linear-gradient(60deg, #F3FF61, #FFEC00);
}

.main .pace .pace-progress {
	background: #FFEC00;
}

.main p {
	color: #C3B400;
}

.main a {
	color: #9FB700;
}

.main a:hover {
	color: #C3B400;
}

.wolf-item.extend-bottom {
	margin-bottom: 260px;
}

.peru-header {
	color: #E2D102;
}
.peru-subheader {
	color: #5BCDCA;
}

.portland-sumemr-2016-header {
	color: #D13B29;
}
.portland-sumemr-2016-subheader {
	color: #5FDB00;
}

.new-orleans-2016-header {
	color: #990048;
}
.new-orleans-2016-subheader {
	color: #FF6E5D;
}

.santa-fe-header {
	color: #414187;
}
.santa-fe-subheader {
	color: #FF56A6;
}

.portland-winter-2016-header {
	color: #C3E100;
}
.portland-winter-2016-subheader {
	color: #5DFFDD;
}

.scandinavia-header {
	color: #FFEC00;
}
.scandinavia-subheader {
	color: #9FB700;
}

.new-orleans-2018-header {
	color: #1C0084;
}
.new-orleans-2018-subheader {
	color: #D13B29;
}

.portland-summer-2018-header {
	color: #7A56FF;
}
.portland-summer-2018-subheader {
	color: #3DA6A3;
}

.main p.footer-link {
	border-color: #E2D102;
}

@media only screen and (min-width: 500px) {

  .main h1 {
  	font-size: 3.25rem;
  }

	.enlarge-1 {
		font-size: 4.2rem;
	}

	.enlarge-2 {
		font-size: 4.8rem;
	}

}

@media only screen and (min-width: 768px) {

	.main h1 {
		font-size: 4.5rem;
	}

	.enlarge-1 {
		font-size: 5.4rem;
	}

	.enlarge-2 {
		font-size: 5.8rem;
	}

}

@media only screen and (min-width: 992px) {

  .main h1 {
  	font-size: 6rem;
  }

	.enlarge-1 {
		font-size: 8.2rem;
	}

	.enlarge-2 {
		font-size: 8.6rem;
	}

}

/* portland summer 2016 */

.portland-summer-2016 #page-loader .loader {
	color: #5DFFDD;
}

.portland-summer-2016 #page-body {
	background: -webkit-linear-gradient(30deg, #DCDCFF, #5DFFDD);
	background: linear-gradient(60deg, #DCDCFF, #5DFFDD);
}

.portland-summer-2016 p.back-button a {
	background: #00C59B;
	padding: 8px;
}

.portland-summer-2016 p.back-button a:hover {
	background: #990048;
}

.portland-summer-2016 .pace .pace-progress {
	background: #5DFFDD;
}

.portland-summer-2016 #hero > p a:hover {
	color: #5DFFDD;
}

.portland-summer-2016 .inline-video .inline-iframe-container .close-inline-video,
.portland-summer-2016 .inline-video:before {
	color: #95FFFC;
}

.portland-summer-2016 .inline-video .inline-iframe-container .close-inline-video:hover,
.portland-summer-2016 .inline-video:hover:before {
	color: #5BCDCA;
}

.portland-summer-2016 a.sr-button {
	color: #FFEC00;
	background: #7A56FF;
}

.portland-summer-2016 a.sr-button:hover {
	color: #5DFFDD;
	background: #340ACC;
}

.portland-summer-2016 p {
	color: #D90C6D;
}

.portland-summer-2016 a {
	color: #00C59B;
}

.portland-summer-2016 a:hover {
	color: #009A7A;
}

.portland-summer-2016 h3.video-header {
	color: #009A7A;
}

.portland-summer-2016 p.footer-link {
	border-color: #8A8AD5;
}

/* new orleans 2016 */

.new-orleans-2016 #page-loader .loader {
	color: #FF56A6;
}

.new-orleans-2016 #page-body {
	background: -webkit-linear-gradient(30deg, #FF6E5D, #FF56A6);
	background: linear-gradient(60deg, #FF6E5D, #FF56A6);
}

.new-orleans-2016 p.back-button a {
	background: #FF56A6;
	padding: 8px;
}

.new-orleans-2016 p.back-button a:hover {
	background: #FFEC00;
}

.new-orleans-2016 .pace .pace-progress {
	background: #FF56A6;
}

.new-orleans-2016 #hero > p a:hover {
	color: #FF56A6;
}

.new-orleans-2016 a.sr-button {
	color: #009A7A;
	background: #FFEC00;
}

.new-orleans-2016 a.sr-button:hover {
	color: #99FF4A;
	background: #414187;
}

.new-orleans-2016 p {
	color: #1C0084;
}

.new-orleans-2016 a {
	color: #D90C6D;
}

.new-orleans-2016 a:hover {
	color: #990048;
}

.new-orleans-2016 h3.video-header {
	color: #990048;
}

iframe#instagram-embed-0 {
  margin: 0 auto !important;
}

.new-orleans-2016 p.footer-link {
	border-color: #D90C6D;
}

/* santa fe */

.santa-fe #page-loader .loader {
	color: #7A56FF;
}

.santa-fe #page-body {
	background: -webkit-linear-gradient(30deg, #D90C6D, #7A56FF);
	background: linear-gradient(60deg, #D90C6D, #7A56FF);
}

.santa-fe p.back-button a {
	background: #7A56FF;
	padding: 8px;
}

.santa-fe p.back-button a:hover {
	background: #fff;
}

.santa-fe .pace .pace-progress {
	background: #7A56FF;
}

.santa-fe #hero > p a:hover {
	color: #7A56FF;
}

.santa-fe p {
	color: #fff;
}

.santa-fe a {
	color: #340ACC;
}

.santa-fe a:hover {
	color: #1C0084;
}

.santa-fe p.footer-link {
	border-color: #7A56FF;
}

/* portland winter 2016 */

.portland-winter-2016 #page-loader .loader {
	color: #E3FF32;
}

.portland-winter-2016 #page-loader .loader {
	color: #E3FF32;
}

.portland-winter-2016 #page-body {
	background: -webkit-linear-gradient(30deg, #95FFFC, #E3FF32);
	background: linear-gradient(60deg, #95FFFC, #E3FF32);
}

.portland-winter-2016  p.back-button a {
	background: #340ACC;
	padding: 8px;
}

.portland-winter-2016  p.back-button a:hover {
	background: #990048;
}

.portland-winter-2016 .pace .pace-progress {
	background: #E3FF32;
}

.portland-winter-2016 #hero > p a:hover {
	color: #E3FF32;
}

.portland-winter-2016 a.sr-button {
	color: #fff;
	background: #5BCDCA;
}

.portland-winter-2016 a.sr-button:hover {
	color: #95FFFC;
	background: #340ACC;
}

.portland-winter-2016 p {
	color: #009A7A;
}

.portland-winter-2016 a {
	color: #D90C6D;
}

.portland-winter-2016 a:hover {
	color: #990048;
}

.portland-winter-2016 p.footer-link {
	border-color: #5BCDCA;
}

/* scandinavia */

.scandinavia #page-loader .loader {
	color: #95FFFC;
}

.scandinavia #page-body {
	background: -webkit-linear-gradient(30deg, #DCDCFF, #95FFFC);
	background: linear-gradient(60deg, #DCDCFF, #95FFFC);
}

.scandinavia p.back-button a {
	background: #5BCDCA;
	padding: 8px;
}

.scandinavia p.back-button a:hover {
	background: #990048;
}

.scandinavia .pace .pace-progress {
	background: #95FFFC;
}

.scandinavia #hero > p a:hover {
	color: #95FFFC;
}

.scandinavia .inline-video .inline-iframe-container .close-inline-video,
.scandinavia .inline-video:before {
	color: #DCDCFF;
}

.scandinavia .inline-video .inline-iframe-container .close-inline-video:hover,
.scandinavia .inline-video:hover:before {
	color: #E3FF32;
}

.scandinavia a.sr-button {
	color: #990048;
	background: #FF6E5D;
}

.scandinavia a.sr-button:hover {
	color: #414187;
	background: #5BCDCA;
}

.scandinavia p {
	color: #D90C6D;
}

.scandinavia a {
	color: #5BCDCA;
}

.scandinavia a:hover {
	color: #3DA6A3;
}

.scandinavia h3.video-header {
	color: #3DA6A3;
}

.scandinavia .go-to-there {
	background: #fff;
	display: inline-block;
	padding: 20px;
}

.scandinavia .go-to-there h3 {
	position: relative;
	top: 0;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

h3.denmark-header {
	color: #FF6E5D;
}

h3.norway-header {
	color: #990048;
}

.scandinavia .go-to-there:hover h3 {
	top: -5px;
}

.go-to-there:hover h3 {
	top: -5px;
}

.go-to-there:hover h3.denmark-header {
	color: #D13B29;
}

.go-to-there:hover h3.norway-header {
	color: #8A8AD5;
}

.scandinavia .go-to-there h5 {
	position: relative;
	left: 0;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

h5.denmark-subheader {
	color: #DCDCFF;
}

h5.norway-subheader {
	color: #99FF4A;
}

.scandinavia .go-to-there:hover h5 {
	left: -10px;
}

.go-to-there:hover h5.denmark-subheader {
	color: #414187;
}

.go-to-there:hover h5.norway-subheader {
	color: #9FB700;
}

.arrow {
  position: absolute;
  bottom: 10%;
  height: 60px;
  width: 100px;
}

.arrow.right {
  left: 24%;
}

.arrow.left {
  right: 32%;
}

.arrow:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.denmark-arrow.arrow:before {
  background: #C3B400;
}

.norway-arrow.arrow:before {
  background: #5BCDCA;
}

.go-to-there:hover .arrow:before {
  right: 34px;
  width: 35px;
}

.arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.denmark-arrow.arrow:after {
  border-color: transparent transparent transparent #C3B400;
}

.norway-arrow.arrow:after {
  border-color: transparent transparent transparent #5BCDCA;
}

.go-to-there:hover .arrow:after {
  right: 34px;
  right: 30px;
}

.wolf-item.scandinavia-bottom {
	margin-bottom: 0;
}

/* denmark */

.denmark #page-loader .loader {
	color: #DCDCFF;
}

.denmark #page-body {
	background: -webkit-linear-gradient(30deg, #D90C6D, #DCDCFF);
	background: linear-gradient(60deg, #D90C6D, #DCDCFF);
}

.denmark p.back-button a {
	background: #FF6E5D;
	padding: 8px;
}

.denmark p.back-button a:hover {
	background: #414187;
}

.denmark .pace .pace-progress {
	background: #DCDCFF;
}

.denmark #hero > p a:hover {
	color: #DCDCFF;
}

.denmark p {
	color: #FFEC00;
}

.denmark a {
	color: #8A8AD5;
}

.denmark a:hover {
	color: #414187;
}

.denmark p.footer-link {
	border-color: #FFEC00;
}

/* norway */

.norway #page-loader .loader {
	color: #FF6E5D;
}

.norway #page-body {
	background: -webkit-linear-gradient(30deg, #E2D102, #FF6E5D);
	background: linear-gradient(60deg, #E2D102, #FF6E5D);
}

.norway p.back-button a {
	background: #FF6E5D;
	padding: 8px;
}

.norway p.back-button a:hover {
	background: #FFEC00;
}

.norway .pace .pace-progress {
	background: #FF6E5D;
}

.norway #hero > p a:hover {
	color: #FF6E5D;
}

.norway p {
	color: #fff;
}

.norway a {
	color: #E14D3C;
}

.norway a:hover {
	color: #D13B29;
}

.norway p.footer-link {
	border-color: #C3B400;
}

/* new orleans 2018 */

.new-orleans-2018 #page-loader .loader {
	color: #1C0084;
}

.new-orleans-2018 #page-body {
	background: -webkit-linear-gradient(30deg, #7A56FF, #1C0084);
	background: linear-gradient(60deg, #7A56FF, #1C0084);
}

.new-orleans-2018 p.back-button a {
	background: #1C0084;
	padding: 8px;
}

.new-orleans-2018 p.back-button a:hover {
	background: #5DFFDD;
}

.new-orleans-2018 .pace .pace-progress {
	background: #1C0084;
}

.new-orleans-2018 #hero > p a:hover {
	color: #1C0084;
}

.new-orleans-2018 a.sr-button {
	color: #009A7A;
	background: #5DFFDD;
}

.new-orleans-2018 a.sr-button:hover {
	color: #990048;
	background: #E3FF32;
}

.new-orleans-2018 p {
	color: #DCDCFF;
}

.new-orleans-2018 a {
	color: #FFEC00;
}

.new-orleans-2018 a:hover {
	color: #FF6E5D;
}

.new-orleans-2018 h3.video-header {
	color: #990048;
}

.new-orleans-2018 p.footer-link {
	border-color: #95FFFC;
}

/* portland summer 2018 */

.portland-summer-2018 #page-loader .loader {
	color: #8A8AD5;
}

.portland-summer-2018 #page-body {
	background: -webkit-linear-gradient(30deg, #95FFFC, #8A8AD5);
	background: linear-gradient(60deg, #95FFFC, #8A8AD5);
}

.portland-summer-2018 p.back-button a {
	background: #8A8AD5;
	padding: 8px;
}

.portland-summer-2018 p.back-button a:hover {
	background: #E3FF32;
}

.portland-summer-2018 .pace .pace-progress {
	background: #8A8AD5;
}

.portland-summer-2018 #hero > p a:hover {
	color: #8A8AD5;
}

.portland-summer-2018 a.sr-button {
	color: #009A7A;
	background: #E3FF32;
}

.portland-summer-2018 a.sr-button:hover {
	color: #9FB700;
	background: #340ACC;
}

.portland-summer-2018 p {
	color: #1C0084;
}

.portland-summer-2018 a {
	color: #FF56A6;
}

.portland-summer-2018 a:hover {
	color: #D90C6D;
}

.portland-summer-2018 h3.video-header {
	color: #D90C6D;
}

.portland-summer-2018 p.footer-link {
	border-color: #990048;
}
