.favorite-things {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background: $lightblue;
}

.filter-header {
  margin: 1rem 0 0 0.5rem;
  color: $white;
}

.filter-container {
  margin-bottom: 1rem;
}

.favorites-row {
  width: 100%;
}

.checkbox-btn {
  float: left;
  margin: 0.5rem 0 0 0.5rem;
  overflow: auto;
  color: $white;
  background-color: $darkblue;
}

.checkbox-btn:hover {
  background: darken($darkblue, 20%);
}

.checkbox-btn label {
  float: left;
  cursor: pointer;
}

.checkbox-btn label span {
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.checkbox-btn label input {
  position: absolute;
  top: -20px;
}

.checkbox-btn input:checked + span {
  background: darken($darkblue, 20%);
}

.package {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: lighten($lightblue, 20%);
}

.category {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: $white;
  background: $darkblue;
}
