.main-content.main-content_favorite-things {
  max-width: 1000px;
}

.favorite-things-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

// filter categories

.filter-container {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $lightblue;
  .filter-header {
    margin: 0;
  }
  .filter-ul {
    .checkbox-btn {
      float: left;
      margin: 1rem 0.5rem 0 0;
      overflow: auto;
      font-size: 1rem;
      color: $darkblue;
      background-color: $lesslightblue;
      &:hover {
        background-color: $blue;
      }
      label {
        float: left;
        display: block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        span {
          display: block;
          padding: 0.25rem 0.5rem;
          text-align: center;
        }
        input {
          position: absolute;
          top: -20px;
          &:checked + span {
            color: white;
            background-color: $darkblue;
          }
        }
      }
    }
  }
}

// items

.package {
  margin: 1rem 0;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid $lightblue;
  .name {
    margin: 0;
    font-size: 1.2rem;
    .faves-link:hover {
      color: $darkblue;
      background: $aqua;
    }
  }
  .category {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: 1rem;
    color: $darkblue;
    background-color: $lesslightblue;
  }
}
