.main-content.main-content_home {
  max-width: 1000px;
}

/* intro text */

.home-intro {
  .highlight {
    font-size: 2.75rem;
    line-height: 1.4;
    overflow: hidden;
    a {
      font-weight: 300;
      color: $blue;
      &:hover {
        color: $darkblue;;
        background: $aqua;
        text-decoration: none;
      }
    }
  }
}

@include media(medium) {
  .main-content.main-content_home {
    padding-top: 0;
    border-top: none;
  }
  .home-intro {
    display: block;
    width: 100%;
    .highlight {
      font-size: 2rem;
    }
  }
}
