.main-content.main-content_home {
  max-width: 1000px;
}

/* intro text */

.home-intro {
  background-color: $verydarkblue;
  .highlight {
    margin: 0.5rem 0 0 0;
    padding: 2.5rem 3rem;
    font-size: 2.75rem;
    line-height: 1.6;
    overflow: hidden;
    color: white;
    a {
      font-weight: 300;
      color: $blue;
      &:hover {
        color: $darkblue;;
        background: $aqua;
        text-decoration: none;
      }
    }
  }
}

@include media(medium) {
  .main-content.main-content_home {
    border-top: none;
  }
  .home-intro {
    display: block;
    width: 100%;
    .highlight {
      margin-top: 0;
      padding: 20px;
      font-size: 1.75rem;
    }
  }
}
