/* work */

.all-caps {
  text-transform: uppercase;
  letter-spacing: .15rem;
  animation: textColor 2s 1;
}

@keyframes textColor {
  0% { color: $green; }
  100% { color: $darkblue }
}

.grid {
  width: 90%;
  img {
    display: inline-block;
    width: 120px;
    margin: 20px;
    padding: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
    @include media(small) {
      width: 100%
    }
  }
}

.caption {
  width: 100%;
}

.work-list {
  list-style: none;
  margin: 2rem 0;
  li{
    line-height: 2;
    padding-bottom: 1rem;
  }
}

.screenshot {
  width: 100%;
  margin: 2rem 0 0 0;
  a {
    position: relative;
    top: 0;
    transition: top ease 0.25s;
    &:hover {
      top: -3px;
      background: none;
    }
  }
}

.popup {
  width: 60%;
}

.close {
  float: right;
  margin: 0;
  font-size: 1rem;
  color: $darkblue;
  cursor: pointer;
  &:hover {
    background-color: $lightblue;
  }
}

.large {
  width: 100%;
  cursor: pointer;
}

.explainer {
  color: $darkblue;
  a {
    color: $blue;
    &:hover {
      background-color: $lightblue;
    }
  }
}

.shorten {
  width: 90%;
}

.top {
  display: inline;
  cursor: pointer;
  &:hover {
    background: $lightblue;
  }
}

// talks

.notes {
  width: 80%;
  padding: 25px 0 0 0;
  h4 {
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
}
