/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.sidebar-content {
  margin: 1rem;
}

.mobile-menu-link {
  float: right;
  display: none;
  width: 40px;
  .bar {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 4px;
    background: $blue;
  }
  &.active,
  &:hover,
  &:active {
    background: #fff;
    .bar {
      background: $lightblue;
    }
  }
}

.name {
  margin: 0;
}

.title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: $blue;
}

.nav-ul {
  padding-top: 1.5rem;
  list-style: none;
}

.nav {
  color: $darkblue;
  &.current {
    background-color: $darkaqua;
  }
  &:hover {
    background-color: $aqua;
  }
}

.work-temp-fade,
.cv-temp-fade {
  display: none;
}

@include media(medium) {

  .sidebar {
    width: 100%;
    position: static;
  }

  .mobile-menu-link {
    display: block;
  }

  .nav-ul {
    display: none;
    &.active {
      display: block;
    }
  }

  .nav {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .name {
    line-height: 1;
    .nav {
      font-size: 1.7rem;
      line-height: 0;
    }
  }

}
