/* sidebar */

.sidebar {
  width: 150px;
  margin: 0;
  padding: 20px;
}

.mobile-menu-link {
  float: right;
  display: none;
}

.logo {
  width: 130px;
  margin: 0;
}

.name {
  margin: 0;
}

.title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: $blue;
}

.nav-ul {
  padding-top: 1.5rem;
  list-style: none;
}

.nav {
  color: $darkblue;
  &.current {
    background-color: $lightblue;
  }
  &:hover {
    background-color: $lightblue;
  }
}

.work-temp-fade,
.cv-temp-fade {
  display: none;
}

@include media(small) {

  .sidebar {
    width: calc(100% - 40px);
  }

  .mobile-menu-link {
    display: block;
  }

  .nav-ul {
    display: none;
    padding-top: 0;
    padding-bottom: 1rem;
    &.active {
      display: block;
    }
  }

  .nav {
    font-size: 1.3rem;
    line-height: 1.5;
  }

}
