$font-stack: 'Source Sans Pro', sans-serif;

// palette

$darkgreen: #46ce40;
$lightgreen: #95f691;
$darkblue: #533fea;
$lightblue: #8f80ff;
$darkgray: #221e3C;
$gray: #aca9C2;
$lightgray: #f2f1fa;
$white: #fff;
$aqua: #87ffe3;
