.favorite-things {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: moccasin;
}

.faves-row {
  width: 80%;
  background: lightyellow;
}

.filter-container {
  margin: 1rem 0;
  padding: 0.5rem;
}

.checkbox-btn {
  float: left;
  margin-right: 0.5rem;
  overflow: auto;
  background-color: yellow;
}

.checkbox-btn:hover {
  background: gold;
}

.checkbox-btn label {
  float: left;
  cursor: pointer;
}

.checkbox-btn label span {
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.checkbox-btn label input {
  position: absolute;
  top: -20px;
}

.checkbox-btn input:checked + span {
  background: gold;
}

.package {
  margin: 0.5rem;
  padding: 1rem;
  background-color: yellow;
}

.category {
  padding: 0.25rem;
  color: moccasin;
  background: tan;
}
