@import url("https://fonts.googleapis.com/css?family=Capriola");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Capriola", monaco;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  line-height: 0.75;
  color: Coral;
}
@media (min-width: 768px) {
  h1 {
    font-size: 9rem;
  }
}
h1 sup {
  font-size: 1.25rem;
  vertical-align: top;
  margin-left: 0.5rem;
}

h3 {
  font-family: "Capriola", monaco;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #1a424f;
}
h3 .step {
  border-bottom: 6px solid #1a424f;
}
h3 .number {
  font-size: 60px;
  line-height: 0.5;
  margin-left: 4px;
  vertical-align: bottom;
}

p {
  margin-top: 2rem;
  font-family: "Open Sans", monaco;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #089177;
}

a {
  color: #046c59;
  text-decoration: none;
}
a:hover {
  background: white;
}

.wrapper {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
@media (min-width: 768px) {
  .wrapper {
    height: 100vh;
  }
}

#rotating-item-wrapper {
  position: relative;
  width: 100%;
}

.rotating-item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.welcome {
  position: fixed;
  opacity: 0;
  top: 10%;
  text-align: center;
  width: 100%;
}

h1 span {
  position: relative;
}

.char1 {
  top: 0;
}
.char2 {
  top: -8px;
}
.char3 {
  top: -16px;
}
.char4 {
  top: -24px;
}
.char5 {
  top: -32px;
}
.char6 {
  top: -40px;
}
.char7 {
  top: -48px;
}
.char8 {
  top: -56px;
}
.char9 {
  top: -64px;
}
.char10 {
  top: -72px;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  position: relative;
  z-index: 10;
}
ul li {
  width: 100%;
  padding: 8rem 4rem;
  background: #8df0dd;
  border-top: 10px solid white;
}
@media (min-width: 768px) {
  ul li {
    width: 50%;
    padding: 10rem 4rem;
  }
  ul li:nth-child(2n), ul li:nth-child(4n), ul li:nth-child(6n) {
    border-left: 10px solid white;
  }
}
@media (min-width: 992px) {
  ul li {
    padding: 10rem;
  }
}

footer {
  position: relative;
  z-index: 3;
  font-style: italic;
  padding: 2rem;
  text-align: center;
  background: #1a424f;
  letter-spacing: 0.25rem;
}
footer p {
  color: #8df0dd;
  font-size: 0.85rem;
}
footer p sup {
  font-size: 50%;
}
