body {
  font: 16px/1.5 'Ropa Sans', "Helvetica Neue", Helvetica, sans-serif;
  color:gray;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
}

h1, h2, h3 {
  line-height:1.25;
}

h1 {
  font-size:20px;
}

p {
  margin:0 0 10px;
  color: #b3b3b3;
}

a {
  color:#666;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:gray;
  display:block;
}

a.nav:hover {
  background-color: aqua;
}

a.hello-nav {
  color: aqua;
}

a.hello-nav:hover {
  color: greenyellow;
}

.hr-left {
  float: left;
  width: 34%;
}

.hr-right {
  float: right;
  width: 34%;
}

.image {
  position: relative;
  clear: none;
  overflow: hidden;
  z-index:1;
}

.image h2 {
  font-family: 'Open Sans', sans-serif;
  display:block;
  position:absolute;
  left:0;
  z-index:2;
  text-align:center;
  letter-spacing: .125em;
}

.interests {
  font: 28px 'Open Sans', sans-serif;
  margin: -10px 0 0 15px;
  padding-bottom: 20px;
  display: inline-block;
  letter-spacing: .125em;
}

.amazing {
  width:35%;
  top:20%;
}

.information {
  width:160%;
  top:2%;
}

.solving {
  width:70%;
  top:70%;
}

.communication {
  width:160%;
  top:47%;
}

.pizza {
  width:150%;
  top:72%;
}

.highlight {
  font: 28px 'Vollkorn', serif;
  padding: 5px;
  color: white;
  background-color: black;
}

.logo {
  width: 130px;
  margin-left: 5px;
}

.resume {
  background-color: greenyellow;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

.image-nav {
  color: black;
}

a.image-nav:hover {
  color: #ccffff;
}

img {
  max-width:100%;
}

header {
  width:200px;
  float:left;
}

section {
  width:600px;
  margin-left: 200px;
  padding-bottom:50px;
  padding-top: 30px;
}

hr {
  border:0;
  background:lightgray;
  height:1px;
}

footer {
  width:200px;
  float:left;
  margin-top: 300px;
  position: relative;
  clear: both;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media (max-width: 500px) {
  h1 {
  font-size: 20px;
  padding: 4px;
  }
  li {
  padding: 4px;
  display: block;
  }
}

