body {
  font: 16px/1.5 'Ropa Sans', "Helvetica Neue", Helvetica, sans-serif;
  color: gray;
  font-weight: 300;
}

header {
  width: 200px;
  float: left;
}

section {
  width: 800px;
  margin-left: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
}

hr {
  border: 0;
  background: #b3b3b3;
  height: 1px;
}

footer {
  width: 600px;
  float: left;
  margin-top: 300px;
  position: relative;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #222;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  color: gray;
}

img {
  width: 100%
}

a {
  color: #666;
  font-weight: 400;
  text-decoration: none;
}

a small {
  font-size: 11px;
  color: gray;
  display: block;
}

p a.nav {
  line-height: 0;
  margin: 0;
  padding: 0;
}

a.nav:hover {
  background-color: aqua;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.name {
  margin: 0;
}

.logo {
  width: 110px;
  margin: 5px 0 0 15px;
}

.title {
  font-style:italic;
  margin-top: 0;
  font-size: 13px;
  color: #b3b3b3;
}

.number {
  color: #b3b3b3;
}

.current {
  background-color: greenyellow;
}

.venn {
  width: 740px;
}

.brain {
  clear: none;
  z-index: 1;
}

.brain img {
  width: 70%;
  position: relative;
  margin: 0 0 0 100px;
}

.brain h2 {
  font: 16px 'Open Sans', sans-serif;
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: center;
  letter-spacing: .125em;
}

.brain-nav {
  color: black;
}

a.brain-nav:hover {
  color: teal;
}

.interests {
  font: 20px 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: .125em;
}

.amazing {
  top: -220px;
  left: -550px;
}

.information {
  top: -380px;
  left: 500px;
}

.solving {
  top: -85px;
  left: 120px;
}

.communication {
  top: -230px;
  left: 290px;
}

.pizza {
  top: -135px;
  left: 70px;
}

.quote {
  cursor: pointer;
  color: black;
}

.quote:hover {
  background-color: aqua;
}

.colorize {
  color: black;
  background-color: aqua
}

#intro {
  display:none;
}

.highlight {
  width: 740px;
  font: 28px 'Radley', serif;
  padding: 10px 0 10px 15px;
  margin-top: -30px;
  color: white;
  background-color: black;
}

.highlight a {
  color: aqua;
}

.highlight a:hover {
  color: greenyellow;
}

.large {
  width: 600px;
  cursor: pointer;
}

.top {
  cursor: pointer;
}

.about-format {
  width: 430px;
}

.about-img {
  width: 230px;
  height: 230px;
  margin-left: 60px;
  overflow: hidden;
  border-radius: 115px;
}

.about-img img {
  width: 400px;
  height: 400px;
  margin: -60px 0 0 -75px;
}

a.about-link {
  color: black;
}

a.about-link:hover {
  background-color: aqua;
}

.sketchbooks {
  display: inline;
  color: #b3b3b3;
  background-color: white;
}

.push {
  margin-left: 81px;
}
.notes {
  padding: 25px 0 0 25px;
  width: 550px;
}

.notes p {
  padding-bottom: 15px;
}

.notes h4 {
  padding-bottom: 15px;
}

.presentations {
  color: black;
  font-size: 12px;
}

.pres {
  cursor: pointer;
}

.align-presentation1 {
  margin-left: 10px;
}

.align-presentation2 {
  margin-left: 27px;
}

.align-presentation3 {
  margin-left: 9px;
}

a.presentation {
  color: #b3b3b3;
  background-color: white;
}

a.presentation:hover {
  background-color: aqua;
}

.license {
  color: #b3b3b3;
}

.license img {
  border-width: 0;
  width: 80px;
}

.license a {
  color: #b3b3b3;
}

.license a:hover {
  color: gray;
}

.fade p {
  color: gray;
}

.fade a.nav {
  color: #b3b3b3;
}

.resume-format ul {
  padding: 0 0 0 25px;
  width: 550px;
}

.resume {
  display: inline;
  background: greenyellow;
}

.resume-shim {
  height: 10px;
}

a.resume {
  color: #b3b3b3;
  background-color: white;
}

a.resume:hover {
  background-color: aqua;
}

.about-sidebar {
  float: right;
  width: 350px;
  margin-top: -40px;
  margin-left: 20px;
}

.short {
  list-style: none;
  background-color: greenyellow;
  color: black;
  margin-top: 10px;
  padding: 1px 5px 5px 5px;
}

.short li {
  margin: 0 0 10px -30px;
  line-height: 20px;
  list-style: none;
}

.short-title {
  text-align: center;
  margin-left: -40px;
  margin-bottom: 10px;
}

.caption {
  width: 500px;
  margin: 0 auto;
}

.explainer {
  color: black;
}

.explainer a:hover {
  background-color: aqua;
}

.close {
  float: right;
  padding: 0;
  margin: 0 200px 0 0;
  color: #b3b3b3;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: gray;
}

.shorten {
  width: 650px;
}

.grid img {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  margin: 20px;
  padding: 0;
}

.grid img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
