/* global */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1rem;
  line-height: 1.4; }

body {
  font: 1rem/1.5 "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #221e3C; }

::-moz-selection {
  background: #8f80ff;
  text-shadow: none; }

::selection {
  background: #8f80ff;
  text-shadow: none; }

.browsehappy {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  background: #f2f1fa;
  color: #221e3C; }

.ie7 .title {
  padding-top: 20px; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
  color: #221e3C; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  color: #221e3C; }

li {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400; }

em {
  font-style: italic; }

a {
  font-weight: 600;
  text-decoration: none;
  color: #533fea; }
  a:hover {
    background: #87ffe3; }

small {
  font-size: 1rem; }

a small {
  display: block;
  font-size: 1rem;
  color: #aca9C2; }

q:before, q:after {
  content: '';
  content: none; }

hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
  border-top: 0.5px solid #f2f1fa;
  background: #f2f1fa; }

/* main content */
.page-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-content {
  flex: 1 1 auto;
  margin: 0;
  padding: 20px; }

img {
  width: 100%; }

footer {
  float: left;
  position: relative;
  width: 100%;
  padding-top: 100px;
  clear: both; }

/* footer */
.quote {
  cursor: pointer; }

.quote:hover {
  background-color: #87ffe3; }

.colorize {
  color: #221e3C;
  background-color: #87ffe3; }

.fade, .work-temp-fade, .cv-temp-fade {
  display: none; }

.fade p {
  color: #aca9C2; }

.fade a.nav {
  color: #aca9C2; }

/* helper classes */
.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* media queries */
@media all and (max-width: 480px) {
  body {
    margin-top: 0; }

  .page-container {
    flex-direction: column; }

  .main-content {
    border-top: 2px solid #533fea; }

  .logo {
    display: none; }

  .grid img {
    width: 40%;
    margin: 2%; }

  .large {
    width: 100%; }

  .top {
    padding-bottom: 2rem; }

  footer {
    display: none; } }
/* sidebar */
.sidebar {
  width: 150px;
  margin: 0;
  padding: 20px; }

.mobile-menu-link {
  float: right;
  display: none; }

@media all and (max-width: 480px) {
  .sidebar {
    width: calc(100% - 40px); }

  .mobile-menu-link {
    display: block; }

  .nav-ul {
    display: none;
    padding-top: 0;
    padding-bottom: 1rem; }
    .nav-ul.active {
      display: block; }

  .nav-ul li {
    font-size: 1.3rem;
    line-height: 1.5; } }
.logo {
  width: 130px;
  margin: 0; }

.name {
  margin: 0; }

.title {
  margin-top: 0;
  font-size: 1rem;
  font-style: italic;
  color: #221e3C; }

.current {
  background-color: #87ffe3; }

ul.nav-ul {
  padding-top: 1.5rem; }

ul.nav-ul li {
  list-style: none; }

a.nav:hover {
  background-color: #87ffe3; }

/* sidebar */
.sidebar {
  width: 150px;
  margin: 0;
  padding: 20px; }

.mobile-menu-link {
  float: right;
  display: none; }

@media all and (max-width: 480px) {
  .sidebar {
    width: calc(100% - 40px); }

  .mobile-menu-link {
    display: block; }

  .nav-ul {
    display: none;
    padding-top: 0;
    padding-bottom: 1rem; }
    .nav-ul.active {
      display: block; }

  .nav-ul li {
    font-size: 1.3rem;
    line-height: 1.5; } }
.logo {
  width: 130px;
  margin: 0; }

.name {
  margin: 0; }

.title {
  margin-top: 0;
  font-size: 1rem;
  font-style: italic;
  color: #221e3C; }

.current {
  background-color: #87ffe3; }

ul.nav-ul {
  padding-top: 1.5rem; }

ul.nav-ul li {
  list-style: none; }

a.nav:hover {
  background-color: #87ffe3; }

/* internal pages */
.all-caps {
  text-transform: uppercase;
  letter-spacing: .15rem; }

.grid {
  width: 90%; }

.grid img {
  display: inline-block;
  width: 120px;
  margin: 20px;
  padding: 0;
  cursor: pointer; }
  .grid img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
  @media all and (max-width: 480px) {
    .grid img {
      width: 100%; } }

.popup {
  width: 60%; }

.close {
  float: right;
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  color: #95f691;
  cursor: pointer; }

.close:hover {
  color: #3aee33; }

.large {
  width: 100%;
  cursor: pointer; }

.explainer {
  color: #f2f1fa; }

.explainer a {
  color: #95f691; }

.explainer a:hover {
  color: #3aee33; }

.shorten {
  width: 90%; }

.top {
  cursor: pointer; }

.license img {
  border-width: 0;
  width: 80px; }

.caption {
  width: 100%; }

.work-list {
  list-style: none;
  margin: 2rem 0; }
  .work-list li {
    line-height: 2; }

.screenshot {
  width: 100%;
  margin: 2rem 0 0 0; }
  .screenshot a {
    position: relative;
    top: 0;
    transition: top ease 0.25s; }
    .screenshot a:hover {
      top: -3px;
      background: none; }

.slide {
  padding-top: 20px; }

.notes {
  width: 80%;
  padding: 25px 0 0 0; }

.notes p {
  padding-bottom: 15px; }

.notes h4 {
  padding-bottom: 15px; }

/* intro text */
#intro {
  width: 100%;
  max-width: 800px;
  height: auto;
  background-color: #221e3C; }

.close-intro {
  float: right;
  padding: 10px 30px 20px 20px;
  color: #fff;
  font: 4rem "Source Sans Pro", sans-serif;
  font-weight: 300;
  cursor: pointer; }

.close-intro:hover {
  color: #95f691; }

.highlight {
  margin: 20px 0 0 0;
  padding: 40px;
  font-size: 2rem;
  line-height: 1.6;
  color: #fff; }
  @media all and (max-width: 480px) {
    .highlight {
      padding: 20px; } }

.highlight a {
  color: #87ffe3; }

.highlight a:hover {
  color: #533fea;
  text-decoration: none; }

@media all and (max-width: 480px) {
  #homepage-main-content {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: none; }

  #intro {
    display: block;
    width: 100%; }

  .close-intro {
    display: none; }

  .highlight {
    margin-top: 0; } }
/* brain venn */
.venn {
  display: none;
  width: 100%;
  margin: 0 auto; }

.interests {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
  font: 1.5em "Source Sans Pro", sans-serif;
  text-align: center;
  letter-spacing: .125em; }

.brain {
  position: relative;
  z-index: 1;
  clear: none;
  width: 90%;
  margin: 0 auto;
  padding: 0; }

.brain img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0; }

.brain h2 {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  font: 1em "Source Sans Pro", sans-serif;
  text-align: center;
  letter-spacing: .125em; }

a.brain-nav {
  color: #95f691; }

a.brain-nav:hover {
  color: #3aee33; }

.ghost {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.behind {
  position: relative;
  z-index: -1; }

@media only screen and (min-width: 481px) and (max-width: 542px) {
  .amazing {
    position: absolute;
    top: 10%;
    left: -5%; }

  .information {
    position: absolute;
    top: 65%;
    left: -40%; }

  .solving {
    position: absolute;
    top: -80%;
    left: 75%; }

  .communication {
    position: absolute;
    top: -50%;
    left: 20%; }

  .pizza {
    position: absolute;
    top: -35%;
    left: 70%; }

  a.brain-nav {
    font-size: .75em;
    line-height: 1; }

  a.brain-nav br {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1; } }
@media only screen and (min-width: 543px) and (max-width: 576px) {
  .amazing {
    position: absolute;
    top: 10%;
    left: -5%; }

  .information {
    position: absolute;
    top: 65%;
    left: -20%; }

  .solving {
    position: absolute;
    top: -55%;
    left: 75%; }

  .communication {
    position: absolute;
    top: -30%;
    left: 40%; }

  .pizza {
    position: absolute;
    top: 15%;
    left: -10%; }

  a.brain-nav {
    font-size: .75em;
    line-height: 1; }

  a.brain-nav br {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1; } }
@media only screen and (min-width: 577px) and (max-width: 692px) {
  .amazing {
    position: absolute;
    top: 10%;
    left: -5%; }

  .information {
    position: absolute;
    top: 65%;
    left: -20%; }

  .solving {
    position: absolute;
    top: -10%;
    left: 5%; }

  .communication {
    position: absolute;
    top: 10%;
    left: 70%; }

  .pizza {
    position: absolute;
    top: 45%;
    left: 20%; }

  a.brain-nav {
    font-size: .75em;
    line-height: 1; }

  a.brain-nav br {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1; } }
@media only screen and (min-width: 693px) and (max-width: 800px) {
  .amazing {
    position: absolute;
    top: 10%;
    left: -5%; }

  .information {
    position: absolute;
    top: 75%;
    left: -15%; }

  .solving {
    position: absolute;
    top: -5%;
    left: 15%; }

  .communication {
    position: absolute;
    top: 20%;
    left: 75%; }

  .pizza {
    position: absolute;
    top: 60%;
    left: 25%; } }
@media only screen and (min-width: 801px) and (max-width: 931px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 75%;
    left: -5%; }

  .solving {
    position: absolute;
    top: -10%;
    left: 15%; }

  .communication {
    position: absolute;
    top: 25%;
    left: 75%; }

  .pizza {
    position: absolute;
    top: 60%;
    left: 35%; } }
@media only screen and (min-width: 932px) and (max-width: 948px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 75%;
    left: 0; }

  .solving {
    position: absolute;
    top: 0;
    left: 35%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 15%; }

  .pizza {
    position: absolute;
    top: 60%;
    left: 75%; } }
@media only screen and (min-width: 949px) and (max-width: 1031px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: -5%;
    left: 35%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 15%; }

  .pizza {
    position: absolute;
    top: 60%;
    left: 70%; } }
@media only screen and (min-width: 1032px) and (max-width: 1040px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: 0;
    left: 35%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 15%; }

  .pizza {
    position: absolute;
    top: 70%;
    left: -20%; } }
@media only screen and (min-width: 1041px) and (max-width: 1060px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: 0;
    left: 35%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 15%; }

  .pizza {
    position: absolute;
    top: 80%;
    left: -20%; } }
@media only screen and (min-width: 1061px) and (max-width: 1200px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: 0;
    left: 45%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 25%; }

  .pizza {
    position: absolute;
    top: 75%;
    left: -15%; } }
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: 0;
    left: 50%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 35%; }

  .pizza {
    position: absolute;
    top: 80%;
    left: 5%; } }
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: -5%;
    left: 50%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 40%; }

  .pizza {
    position: absolute;
    top: 80%;
    left: 5%; } }
@media only screen and (min-width: 1601px) and (max-width: 1784px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: -5%;
    left: 55%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 55%; }

  .pizza {
    position: absolute;
    top: 80%;
    left: 25%; } }
@media only screen and (min-width: 1785px) {
  .amazing {
    position: absolute;
    top: 20%;
    left: 0; }

  .information {
    position: absolute;
    top: 80%;
    left: 10%; }

  .solving {
    position: absolute;
    top: -5%;
    left: 55%; }

  .communication {
    position: absolute;
    top: 40%;
    left: 60%; }

  .pizza {
    position: absolute;
    top: 80%;
    left: 25%; } }
/* about page */
.about-img {
  float: left;
  width: 30%;
  max-width: 200px;
  padding: 0 30px 20px 0; }

.about-content {
  display: flex;
  flex-direction: column; }

.about-body {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 0 1rem 0;
  padding: 0; }

.about-list {
  width: 100%;
  margin: 0;
  padding: 0; }

.short {
  max-width: 800px;
  margin: 0;
  padding: 25px;
  list-style: none;
  background-color: #87ffe3; }

h2.short-title {
  padding-bottom: 10px;
  color: #221e3C; }

.short ul {
  padding-left: 1rem; }

.short ul li {
  margin-top: 10px;
  padding-left: .25rem;
  padding-bottom: 10px;
  list-style-position: outside;
  color: #221e3C; }

/* resume */
.pdf-link {
  text-transform: lowercase;
  letter-spacing: 0; }

.pdf-link:hover {
  background-color: #87ffe3; }

.resume-format {
  width: 100%;
  max-width: 550px; }

.resume-format ul {
  padding: 0 0 0 25px; }

.resume-shim {
  height: 10px; }

/* print styles */
@media print {
  * {
    background: transparent !important;
    color: #221e3C !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #f2f1fa;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* 404 */
.broken-container {
  width: 60%;
  margin: 5% auto; }

.broken-header {
  font-size: 50px; }

.broken-float {
  float: left;
  padding-top: 20px; }

.broken-text {
  margin: 1rem 0;
  font-size: 2rem; }

.broken-link {
  font-weight: 300;
  text-decoration: none;
  color: #533fea; }

.broken-link:hover {
  text-decoration: underline;
  color: #221e3C; }

.broken-pic {
  float: left;
  width: 50%;
  margin-left: -50px; }

.favorite-things {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background: #8f80ff; }

.filter-header {
  margin: 1rem 0 0 0.5rem;
  color: #fff; }

.filter-container {
  margin-bottom: 1rem; }

.favorites-row {
  width: 100%; }

.checkbox-btn {
  float: left;
  margin: 0.5rem 0 0 0.5rem;
  overflow: auto;
  color: #fff;
  background-color: #533fea; }

.checkbox-btn:hover {
  background: #2613b0; }

.checkbox-btn label {
  float: left;
  cursor: pointer; }

.checkbox-btn label span {
  display: block;
  padding: 0.25rem 0.5rem;
  text-align: center; }

.checkbox-btn label input {
  position: absolute;
  top: -20px; }

.checkbox-btn input:checked + span {
  background: #2613b0; }

.package {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #e9e6ff; }

.category {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: #fff;
  background: #533fea; }

/*# sourceMappingURL=styles.css.map */
