// 404

.broken-container {
  width: 100%;
  margin: 0;
}

.broken-header {
  font-size: 4rem;
  color: $blue;
}

.broken-float {
  float: left;
  padding-top: rem(20px);
}

.broken-text {
  margin: 1rem 0;
  font-size: 1.75rem;
}

.broken-pic {
  float: left;
  width: 50%;
  margin-left: rem(-50px);
}
