// global

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
button,
input,
select,
textarea {
  color: $darkblue;
}

html {
  height: 100%;
  font-size: 1rem;
  line-height: 1.4;
  background-color: $darkblue;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 150px;  
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: $darkblue;
  background-color: white;
  @include media(medium) {
    margin-top: 0;
  }
}

::-moz-selection {
  background: $aqua;
  text-shadow: none;
}

::selection {
  background: $aqua;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  background: $lightblue;
  color: $darkblue;
}

.ie7 .title {
  padding-top: 20px;
}

// typography

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  color: $darkblue;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
 font-size: 2rem;
}

h5 {
 font-size: 1.75rem;
}

h6 {
 font-size: 1.5rem;
}

p {
  margin: 0;
  font-family: $font-stack;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  color: $darkblue;
  &.small {
    font-size: 1rem;
  }
}

small {
  font-size: 1rem;
}

blockquote {
  margin: 0.5rem 0 2rem 4px;
  padding-left: 1rem;
  font-size: 1rem;
  border-left: 2px solid $lesslightblue;
}

.basic-list {
  margin-left: 20px;
  li {
    margin-bottom: 0.75rem;
  }
}

li {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  color: $darkblue;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $darkblue;
    background: $aqua;
  }
}

a,
a:active,
a:focus {
  outline: 0;
}

a small {
  display: block;
  font-size: 1rem;
  color: $blue;
}

q:before, q:after {
  content: '';
  content: none;
}

// tag defaults

hr {
  display: block;
  height: 1px;
  margin: 3rem 0;
  padding: 0;
  border: 0;
  border-top: .5px solid $lightblue;
  background: $lightblue;
}

img {
  width: 100%;
  background-color: $lightblue;
}

// main content

.page-container {
  width: 100%;
  margin: 0;
  padding: 0;
  @include media(medium) {
    flex-direction: column;
  }
}

.main-content {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  max-width: 1100px;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
  @include media(medium) {
    left: 0;
    width: 100%;
    padding-left: 1rem;
  }
}

// utility classes

.spacer {
  width: 100%;
  height: 40px;
}

.spacer-small {
  width: 100%;
  height: 20px;
}

.section-title {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 2px solid $lightbluegray;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}