// favorite things

.main-content.main-content_favorite-things {
  max-width: 800px;
}

// main content

.favorite-things-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// filter categories

.filter-container {
  margin: 1rem 0;
  padding: 1rem;
  @include box-shadow-with-animation;
  @include mediaMin(medium) {
    padding: 2rem;
  }
  .filter-header {
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .filter-ul {
    .checkbox-btn {
      float: left;
      margin: 0 6px 6px 0;
      overflow: auto;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $darkblue;
      transition: all 0.2s ease-in-out;
      border: 1px solid $darkblue;
      border-radius: 500px;
      @media (hover) {
        &:hover {
          background-color: $aqua;
        }
      }
      label {
        position: relative;
        float: left;
        display: block;
        overflow: hidden;
        cursor: pointer;
        span {
          display: block;
          padding: 0.25rem 1rem;
          text-align: center;
        }
        input {
          position: absolute;
          top: -20px;
          padding: 0 10px;
          &:checked + span {
            color: $white;
            background-color: $darkblue;
          }
        }
      }
    }
  }
}

// items

.package {
  margin: 1rem 0;
  padding: 1rem 0 2rem 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid $lightbluegray;
  }
  .text {
    display: block;
    margin: 0;
    font-size: 1.2rem;
    .faves-link:hover {
      color: $darkblue;
      background: $aqua;
    }
  }
  .category {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.125rem 0.5rem;
    font-size: 12px;
    color: $darkblue;
    border-left: 1px solid $lightbluegray;
  }
}