// mixins

@mixin layoutType($layoutStyle) {
  .#{$layoutStyle}__title {
    margin-bottom: rem(10px);
    font-family: $display-font-stack;
    font-size: 1.75rem;
    font-weight: 400;
  }
  .#{$layoutStyle}__date {
    margin: rem(10px) 0;
    font-size: 1.5rem;
    color: $greendark;
  }
  .#{$layoutStyle}__description {
    margin: rem(20px) 0 rem(40px) 0;
    font-size: 1rem;
    .text-link {
      border-bottom: 1px solid $greendark;
      &:hover {
        border-bottom: 1px solid $browndark;
      }
    }
  }
  .#{$layoutStyle}__resources {
    margin: rem(20px) 0 rem(10px) 0;
  }
}

// page fade veil

#page-fade-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  background: $graylight;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  &.fade-out {
    opacity: 0;
    animation-name: fade-out;
  }
  &.fade-in {
    opacity: 1;
    animation-name: fade-in;
  }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

// color bar

.mobile-color-bar {
  display: none;
  width: 100%;
  height: 10px;
  @include media(medium) {
    display: block;
  }
}

// header

.page-title-group {
  margin-bottom: rem(60px);
}

.page-title {
  font-family: $display-font-stack;
  font-weight: 700;
  line-height: 1.15;
  animation: textColorFlash 2s 1;
}

@keyframes textColorFlash {
  0% { color: $green; }
  25% { color: $green; }
  100% { color: $browndark; }
}

.page-title-note,
.page-note {
  margin-top: rem(20px);
  padding-left: rem(20px);
  font-size: rem(20px);
  border-left: 2px solid $green;
}

// main

.list-wrapper {
  width: 100%;
  margin: rem(40px) auto;
  @include mediaMin(600) {
    margin: rem(40px) 0;
  }
}

.client-list {
  margin: rem(40px) 0;
}

// one-column layout

.list-1c {
  margin: rem(40px) 0;
  list-style: none;
  .list-1c__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: rem(20px);
    @include mediaMin(600) {
      flex-direction: row;
    }
    .list-1c__img {
      display: block;
      width: 100%;
      height: auto;
      &.list-1c__img-border {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        border-left: 1px solid $gray;
      }
      @include mediaMin(600) {
        width: 50%;
      }
    }
    .list-1c__text {
      align-self: stretch;
      width: 100%;
      padding: rem(20px);
      background: $gray;
      @include mediaMin(600) {
        width: 50%;
      }
      @include layoutType("list-1c");
    }
  }
}

// multi-column layout

.list-mc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: rem(20px);
  margin: rem(40px) 0;
  list-style: none;
  &.extra-gap { 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: rem(40px);
  }
  &.no-bg {
    .list-mc__item {
      background: inherit;
    }
  }
  .list-mc__item {
    opacity: 0;
    will-change: transform;
    background: $gray;
    .list-mc__img {
      display: block;
      width: 100%;
      height: auto;
      &.list-mc__img-border {
        border-top: 1px solid $gray;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
      }
      &.list-mc__img-full-border {
        border: 1px solid $gray;
      }
    }
    .list-mc__text {
      width: 100%;
      padding: rem(20px);
      @include layoutType("list-mc");
    }
  }
}

.with-just-btn {
  margin-top: rem(10px) !important;
}

// simple list

.simple-list {
  margin: rem(40px) 0;
  list-style: none;
  .simple-list__item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @include mediaMin(medium) {
      flex-wrap: nowrap;
    }
    &:not(:last-of-type) {
      margin-bottom: rem(40px);
      padding-bottom: rem(40px);
      border-bottom: 1px solid $divider;
    }
    .simple-list__img {
      width: 100%;
      height: auto;
      margin-bottom: rem(10px);
      @include mediaMin(medium) {
        width: 25%;
        flex: 0 0 25%;
        margin-right: rem(40px);
        margin-bottom: 0;
      }
      &.simple-list__img-border {
        border: 1px solid $gray;
      }
    }
    @include layoutType("simple-list");
  }
}

// button

.btn {
  display: inline-block;
  padding: rem(10px) rem(20px);
  border: 1px solid $browndark;
  border-radius: 500px;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $browndark;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $graylight;
    background: $browndark;
  }
}

// jump-to-top arrow

.top {
  position: fixed;
  right: rem(40px);
  bottom: rem(28px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(60px);
  height: rem(60px);
  padding: rem(10px);
  z-index: 20;
  opacity: 0;
  border-radius: 500px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &.top-visible {
    visibility: visible;
    opacity: 1;
  }
  &:hover {
    background: $gray;
  }
  @include media(medium) {
    bottom: rem(12px);
  }
  svg {
    margin-bottom: rem(4px);
    #arrow-polyline-group {
      stroke: $greendark;
      transition: all 0.2s ease-in-out;
    }
  }
}