// resume

.pdf-link {
  @include link-with-animation;
}

.resume-content {
  width: 100%;
  max-width: 800px;
  margin-bottom: 100px;
}

.resume-header {
  margin: 30px 0 10px 0;
  font-weight: 400;
}

.margin-top-lg {
  margin-top: 40px;
  margin-bottom: 20px;
}

.resume-subheader {
  margin: 0.5rem 0;
  color: $blue;
}

.resume-ul li {
  margin-top: 10px;
  padding-left: 1rem;
  list-style: none;
  border-left: 2px solid $lesslightblue;
}

.tools-list {
  margin-top: 0.5rem;
  list-style-type: none;
  .tool {
    display: inline-block;
    margin: 0 6px 6px 0;
    padding: 8px 10px;
    font-size: 12px;
    color: $darkblue;
    border: 1px solid $lesslightblue; 
  }
}
