// resume

.resume-content {
  width: 100%;
  max-width: 800px;
  margin-bottom: rem(100px);
}

.resume-header {
  margin: rem(40px) 0 rem(10px) 0;
  font-weight: 400;
}

.margin-top-lg {
  margin-top: rem(60px);
  margin-bottom: rem(20px);
}

.resume-subheader {
  margin: 1rem 0;
  color: $greendark;
}

.resume-ul li {
  margin-top: rem(10px);
  padding-left: rem(10px);
  list-style: none;
  border-left: 2px solid $green;
}

.tools-list {
  margin-top: rem(10px);
  list-style-type: none;
  .tool {
    display: inline-block;
    margin: 0 rem(6px) rem(6px) 0;
    padding: rem(6px) rem(12px);
    font-size: rem(12px);
    color: $greendark;
    border: 1px solid $greendark; 
  }
}
