// talks

.talk-notes {
  width: 100%;
  max-width: 800px;
  margin-bottom: 100px;
  h4 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
  .slide-label {
    color: $lesslightblue;
  }
}