
	@media screen and (max-width:320px) {

		p {
			color: red;
			font-size: .75em;
		}

		.intro-content, .poem {
			font-size: 1.5em;
		}

		.brighten {
			font-size: .75em;
		}

		h2 {
			font-size: 3em;
		}
	}
