html * {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; /*200, 300, 400, 600, 700, 900*/
  line-height: 1.6;
  color: #111;
} 

body {
  background: #ebebeb;
}

p, h1, h2, h3, h4, h5 {
  padding: .5em 0;
}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 7em;
  font-weight: 900;
  line-height: 1;
  padding: 0;
  color: #00523c;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4;
  color: #14E792;
}

h3 {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.4;
}

h4 {
  font-size: 1.65em;
  font-weight: 300;
  line-height: 1.6;
}

h5 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

small {
  color: darkgray;
}

a {
  font-weight: 700;
  color: #00523c;
}

ul {
  padding:0 0 0 0;
  margin:0 0 40px 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 1.25em;
}

ul li img {
  cursor: pointer;
}

.container-fluid {
  padding: 0;
  margin-right: -30px;
}

.custom-header {
  background-color: #69ffab;
}

.page-title {
  position: fixed;
}

.header-pic {
  padding-top: 12em !important;
  padding-bottom: 0 !important;
}

.thumb {
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow:hidden;
}

.big-pic {
  width: 100%;
  padding: 1em 0;
}

.inline-pic {
  float: left;
  width: 50%;
  padding: 1em 2em 2em 0;
}

.inline-pic-right {
  float: right;
  width: 50%;
  padding: 1em 0 2em 2em;
}

.sketch {
  width: 100%;
  padding: 1em 0;
}

.section-container {
  background-color: #E3E0DC;
  padding-top: 30px;
  margin: 20px 0;
}

.section-gallery {
  margin-top: 30px;
  padding-top: 0;
}

.section-container-combo {
  margin-top: -30px;
}

.section-gallery.sketches-gallery {
  background-color: #D8D8D8;
  padding-bottom: 40px;
}

h2.gallery-title {
  margin-top: 0;
  padding-top: 30px;
  color: #00523c;
}

h2.video-title {
  margin-top: 0;
  padding-top: 0;
  color: #00523c;
}

.gallery-title .glyphicon {
  top: 8px;
}

.video-embed {
  padding-left: 0;
}

.video-caption, .thanks {
  color: #92897F;
}

h3.day {
  color: #00523c;
  background-color: #01FF70;
  padding: 20px;
}

a.resource-link {
  font-size: 1.2em;
  background-color: #01FF70;
}

a.resource-link:focus, a.resource-link:hover {
  background-color: #14E792;
  color: #00523c;
  text-decoration: none;
}

.map-embed {
  margin-top: 20px;
}

.hider {
  width: 100%;
  height: 30px;
  margin-top: 510px;
  display: block;
  position: relative;
  background-color: #E3E0DC;
  border: none;
}

figure.thumb-container {
  opacity: 1;
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transition-duration: 1s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure.thumb-container:hover {
  opacity: .5;
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transition-duration: 1s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img.thumb {
  opacity: 0;
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transition-duration: 1s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img.thumb:hover {
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transition-duration: 1s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

strong {
  font-weight: 600;
}

small a:focus, small a:hover {
  color: #14E792;
  text-decoration: none;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-height: 600px){
  .blueimp-gallery .modal-body {
    padding: 0 0 50% 0 !important;
  }
}

@media (max-width: 500px) {
  
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .inline-pic, .inline-pic-right {
    display: block;
    width: 100%;
    padding: 2em 0;
  }

  .resource-span {
    padding-bottom: 15px;
  }

}

@media (max-width: @screen-xs-max) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
