@keyframes BoxShadowSlide {
  0% {
    box-shadow: 0 0 0 0 #8f80ff;
    -webkit-box-shadow: 0 0 0 0 #8f80ff;
    -moz-box-shadow: 0 0 0 0 #8f80ff; }
  100% {
    box-shadow: 14px 14px 0 0 #8f80ff;
    -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
    -moz-box-shadow: 14px 14px 0 0 #8f80ff; } }
@-webkit-keyframes BoxShadowSlide {
  0% {
    box-shadow: 0 0 0 0 #8f80ff;
    -webkit-box-shadow: 0 0 0 0 #8f80ff;
    -moz-box-shadow: 0 0 0 0 #8f80ff; }
  100% {
    box-shadow: 14px 14px 0 0 #8f80ff;
    -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
    -moz-box-shadow: 14px 14px 0 0 #8f80ff; } }
@-moz-keyframes BoxShadowSlide {
  0% {
    box-shadow: 0 0 0 0 #8f80ff;
    -webkit-box-shadow: 0 0 0 0 #8f80ff;
    -moz-box-shadow: 0 0 0 0 #8f80ff; }
  100% {
    box-shadow: 14px 14px 0 0 #8f80ff;
    -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
    -moz-box-shadow: 14px 14px 0 0 #8f80ff; } }
@-o-keyframes BoxShadowSlide {
  0% {
    box-shadow: 0 0 0 0 #8f80ff;
    -webkit-box-shadow: 0 0 0 0 #8f80ff;
    -moz-box-shadow: 0 0 0 0 #8f80ff; }
  100% {
    box-shadow: 14px 14px 0 0 #8f80ff;
    -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
    -moz-box-shadow: 14px 14px 0 0 #8f80ff; } }
/* global */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html,
button,
input,
select,
textarea {
  color: #0f0080; }

html {
  height: 100%;
  font-size: 1rem;
  line-height: 1.4; }

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 150px;
  font: 1rem/1.5 "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #0f0080; }

::-moz-selection {
  background: #87ffe3;
  text-shadow: none; }

::selection {
  background: #87ffe3;
  text-shadow: none; }

.browsehappy {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  background: #e9e6ff;
  color: #0f0080; }

.ie7 .title {
  padding-top: 20px; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
  color: #0f0080; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.6rem; }

p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  color: #0f0080; }

li {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 400;
  color: #0f0080; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

a {
  font-weight: 600;
  text-decoration: none;
  color: #8f80ff; }
  a:hover {
    color: #0f0080;
    background: #87ffe3; }

small {
  font-size: 1rem; }

a small {
  display: block;
  font-size: 1rem;
  color: #8f80ff; }

q:before, q:after {
  content: '';
  content: none; }

hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
  border-top: 0.5px solid #e9e6ff;
  background: #e9e6ff; }

/* main content */
.page-container {
  width: 100%;
  margin: 0;
  padding: 0; }

.main-content {
  margin: 0;
  padding: 1.25rem 2rem 1.25rem 200px; }

img {
  width: 100%; }

/* helper classes */
.ir {
  overflow: hidden;
  *text-indent: -9999px;
  background-color: transparent;
  border: 0; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* media queries */
@media all and (max-width: 768px) {
  body {
    margin-top: 0; }

  .page-container {
    flex-direction: column; }

  .main-content {
    margin-left: 0;
    padding: 1rem;
    border-top: 1px solid #e9e6ff; }

  .grid img {
    width: 40%;
    margin: 2%; } }
/* work */
.all-caps {
  text-transform: uppercase;
  letter-spacing: .15rem;
  animation: textColorFlash 2s 1; }

@keyframes textColorFlash {
  0% {
    color: #87ffe3; }
  25% {
    color: #87ffe3; }
  100% {
    color: #0f0080; } }
.grid {
  width: 90%; }
  .grid img {
    display: inline-block;
    width: 120px;
    margin: 20px;
    padding: 0;
    cursor: pointer; }
    .grid img:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); }
    @media all and (max-width: 480px) {
      .grid img {
        width: 100%; } }

.caption {
  width: 100%; }

.work-list {
  list-style: none;
  margin: 2rem 0; }
  .work-list li {
    line-height: 1.4;
    padding-bottom: 1.5rem; }

.screenshot {
  width: 100%;
  margin: 2rem 0 0 0; }
  .screenshot a {
    position: relative;
    top: 0;
    transition: top ease 0.25s; }
    .screenshot a:hover {
      top: -3px;
      background: none; }

.popup {
  width: 60%; }

.close {
  float: right;
  margin: 0;
  font-size: 1rem;
  color: #0f0080;
  cursor: pointer; }
  .close:hover {
    background-color: #87ffe3; }

.large {
  width: 100%;
  cursor: pointer; }

.explainer {
  color: #0f0080; }
  .explainer a {
    color: #8f80ff; }
    .explainer a:hover {
      background-color: #87ffe3; }

.shorten {
  width: 90%; }

.top {
  display: inline;
  cursor: pointer; }
  .top:hover {
    background: #87ffe3; }

@media all and (min-width: 769px) {
  .talk-list-item p {
    width: 80%; } }

.talk-list-item:not(:last-of-type) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e9e6ff; }

.talk-title {
  font-weight: 600; }

.talk-date {
  margin: 0.5rem 0 1rem 0;
  font-style: italic; }

.talk-resources {
  margin-top: 0.5rem;
  font-size: 80%; }

.notes {
  width: 80%;
  padding: 25px 0 0 0; }
  .notes h4 {
    padding-bottom: 15px; }
  .notes p {
    padding-bottom: 15px; }

/* media queries */
@media all and (max-width: 768px) {
  .large {
    width: 100%; }

  .top {
    padding-bottom: 2rem; } }
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  background: #fff; }

.sidebar-content {
  margin: 1.25rem 1rem; }
  @media all and (max-width: 768px) {
    .sidebar-content {
      margin: 0.5rem 1rem; } }

.mobile-menu-link {
  float: right;
  display: none;
  width: 40px; }
  .mobile-menu-link .bar {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 4px;
    background: #8f80ff; }
  .mobile-menu-link.active, .mobile-menu-link:hover, .mobile-menu-link:active {
    background: #fff; }
    .mobile-menu-link.active .bar, .mobile-menu-link:hover .bar, .mobile-menu-link:active .bar {
      background: #e9e6ff; }

.name {
  margin: 0; }
  .name .nav-tem {
    font-size: 1rem;
    line-height: 1; }

.nav-ul {
  padding-top: 1.5rem;
  list-style: none; }

.nav-link {
  display: inline-block;
  margin-bottom: 4px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 400;
  color: #0f0080; }
  .nav-link.current {
    background-color: #21ffcb; }
  .nav-link:hover {
    background-color: #87ffe3; }

.work-temp-fade,
.cv-temp-fade {
  display: none; }

@media all and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static; }

  .mobile-menu-link {
    display: block; }

  .nav-ul {
    display: none; }
    .nav-ul.active {
      display: block; } }
.mobile-menu-group {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translateY(100%) translateY(-60px);
  transition: all 0.125s ease; }
  @media all and (max-width: 768px) {
    .mobile-menu-group {
      display: block; } }
  .mobile-menu-group .menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    cursor: pointer;
    transition: all 0.125s ease;
    background: #0f0080; }
    .mobile-menu-group .menu-tab:hover {
      background: #87ffe3; }
      .mobile-menu-group .menu-tab:hover p.open-mobile-menu,
      .mobile-menu-group .menu-tab:hover p.close-mobile-menu {
        color: #0f0080; }
      .mobile-menu-group .menu-tab:hover p.open-mobile-menu .berger .berger-bar,
      .mobile-menu-group .menu-tab:hover p.close-mobile-menu .close-icon .close-bar {
        background: #0f0080; }
    .mobile-menu-group .menu-tab p {
      margin: 0;
      padding: 0;
      font-size: 20px; }
      .mobile-menu-group .menu-tab p.open-mobile-menu {
        display: block;
        color: #e9e6ff; }
        .mobile-menu-group .menu-tab p.open-mobile-menu .hi {
          margin-top: 2rem;
          margin-bottom: 2rem;
          margin-right: 6px;
          line-height: 10px; }
        .mobile-menu-group .menu-tab p.open-mobile-menu .berger {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          width: 30px;
          height: 20px;
          margin-top: -4px;
          vertical-align: middle; }
          .mobile-menu-group .menu-tab p.open-mobile-menu .berger .berger-bar {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background: #e9e6ff; }
      .mobile-menu-group .menu-tab p.close-mobile-menu {
        display: none;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #e9e6ff; }
        .mobile-menu-group .menu-tab p.close-mobile-menu .close-icon {
          position: relative;
          display: inline-block;
          width: 26px;
          height: 20px;
          margin-top: -4px;
          vertical-align: middle; }
          .mobile-menu-group .menu-tab p.close-mobile-menu .close-icon .close-bar {
            position: absolute;
            top: 8px;
            display: block;
            width: 20px;
            height: 3px;
            border-radius: 1px;
            background: #e9e6ff; }
            .mobile-menu-group .menu-tab p.close-mobile-menu .close-icon .close-bar:first-of-type {
              transform: rotate(45deg); }
            .mobile-menu-group .menu-tab p.close-mobile-menu .close-icon .close-bar:nth-of-type(2) {
              transform: rotate(135deg); }
  .mobile-menu-group .mobile-menu {
    transition: all 0.125s ease;
    color: white;
    background: #0f0080; }
    .mobile-menu-group .mobile-menu ul {
      margin: 0;
      padding: 1rem;
      list-style-type: none; }
      .mobile-menu-group .mobile-menu ul li {
        margin: 1rem 0; }
        .mobile-menu-group .mobile-menu ul li a {
          color: #e9e6ff;
          font-weight: 400;
          text-decoration: none; }
          .mobile-menu-group .mobile-menu ul li a:hover {
            color: #87ffe3;
            background: none !important; }
  .mobile-menu-group.showing {
    bottom: 0;
    transform: translateY(0); }
    .mobile-menu-group.showing .menu-tab {
      justify-content: flex-start;
      width: 120px;
      padding-left: 1rem; }
      .mobile-menu-group.showing .menu-tab .open-mobile-menu {
        display: none; }
      .mobile-menu-group.showing .menu-tab .close-mobile-menu {
        display: block; }

.icons1,
.icons2 {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .icons1 span,
  .icons2 span {
    margin-right: 2rem; }
  @media all and (max-width: 480px) {
    .icons1,
    .icons2 {
      justify-content: space-between; } }

.icons1 {
  margin: 2rem 0; }

.icons2 {
  margin-bottom: 1rem; }

@media all and (max-width: 480px) {
  .icons2 {
    justify-content: space-around; } }
footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 150px); }

.quote {
  cursor: pointer; }
  .quote:hover {
    color: #0f0080;
    background-color: #87ffe3; }

.fade {
  display: none; }
  .fade p {
    color: #0f0080; }

.homepage-footer p {
  opacity: 0;
  visibility: hidden;
  animation: footerFade 1s forwards;
  -webkit-animation: footerFade 1s forwards;
  -moz-animation: footerFade 1s forwards;
  -o-animation: footerFade 1s forwards;
  animation-delay: 0.375s;
  -webkit-animation-delay: 0.375s;
  -moz-animation-delay: 0.375s;
  -o-animation-delay: 0.375s; }
@media all and (min-width: 769px) {
  .homepage-footer {
    margin-left: 100px; } }

@keyframes footerFade {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes footerFade {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-moz-keyframes footerFade {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-o-keyframes footerFade {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
/* media queries */
@media all and (max-width: 768px) {
  footer {
    display: none; } }
.main-content.main-content_home {
  max-width: 1000px; }

/* intro text */
.home-intro .highlight {
  font-size: 2.75rem;
  line-height: 1.4; }
  .home-intro .highlight a {
    font-weight: 300;
    color: #8f80ff; }
    .home-intro .highlight a:hover {
      color: #0f0080;
      background: #87ffe3;
      text-decoration: none; }
@media all and (min-width: 769px) {
  .home-intro {
    width: calc(90% - 100px);
    margin-left: 100px; } }

@media all and (max-width: 768px) {
  .main-content.main-content_home {
    padding-top: 0;
    border-top: none; }

  .home-intro {
    display: block;
    width: 100%; }
    .home-intro .highlight {
      font-size: 2rem; } }
.home-intro {
  height: auto;
  margin-bottom: 100px;
  transition: all 1s ease;
  animation: introSlide 1s forwards;
  -webkit-animation: introSlide 1s forwards;
  -moz-animation: introSlide 1s forwards;
  -o-animation: introSlide 1s forwards; }

@keyframes introSlide {
  0% {
    max-height: 0; }
  100% {
    max-height: 600px; } }
@-webkit-keyframes introSlide {
  0% {
    max-height: 0; }
  100% {
    max-height: 600px; } }
@-moz-keyframes introSlide {
  0% {
    max-height: 0; }
  100% {
    max-height: 600px; } }
@-o-keyframes introSlide {
  0% {
    max-height: 0; }
  100% {
    max-height: 600px; } }
.main-content.main-content_favorite-things {
  max-width: 1000px; }

.favorite-things-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem; }

.filter-container {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid #8f80ff;
  box-shadow: 14px 14px 0 0 #8f80ff;
  -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
  -moz-box-shadow: 14px 14px 0 0 #8f80ff;
  animation: BoxShadowSlide 0.5s forwards;
  -webkit-animation: BoxShadowSlide 0.5s forwards;
  -moz-animation: BoxShadowSlide 0.5s forwards;
  -o-animation: BoxShadowSlide 0.5s forwards; }
  .filter-container .filter-header {
    margin: 0; }
  .filter-container .filter-ul .checkbox-btn {
    float: left;
    margin: 1rem 0.5rem 0 0;
    overflow: auto;
    font-size: 1rem;
    color: #0f0080;
    background-color: #d2cdff; }
    @media (hover) {
      .filter-container .filter-ul .checkbox-btn:hover {
        background-color: #8f80ff; } }
    .filter-container .filter-ul .checkbox-btn label {
      float: left;
      display: block;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .filter-container .filter-ul .checkbox-btn label span {
        display: block;
        padding: 0.25rem 0.5rem;
        text-align: center; }
      .filter-container .filter-ul .checkbox-btn label input {
        position: absolute;
        top: -20px; }
        .filter-container .filter-ul .checkbox-btn label input:checked + span {
          color: white;
          background-color: #0f0080; }

.package {
  margin: 1rem 0;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid #e9e6ff; }
  .package .name {
    margin: 0;
    font-size: 1.2rem; }
    .package .name .faves-link:hover {
      color: #0f0080;
      background: #87ffe3; }
  .package .category {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: 1rem;
    color: #0f0080;
    background-color: #d2cdff; }

/* about page */
.main-content.main-content_about {
  display: flex;
  flex-direction: column;
  max-width: 1000px; }

.about-intro {
  width: 100%;
  margin: 0;
  padding: 0; }
  .about-intro .about-bio {
    display: flex; }
    .about-intro .about-bio .about-img {
      width: 30%;
      min-width: 200px;
      padding: 0 2rem 1rem 0; }

.about-list {
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0; }

.short-list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  border: 2px solid #8f80ff;
  box-shadow: 14px 14px 0 0 #8f80ff;
  -webkit-box-shadow: 14px 14px 0 0 #8f80ff;
  -moz-box-shadow: 14px 14px 0 0 #8f80ff;
  animation: BoxShadowSlide 0.5s forwards;
  -webkit-animation: BoxShadowSlide 0.5s forwards;
  -moz-animation: BoxShadowSlide 0.5s forwards;
  -o-animation: BoxShadowSlide 0.5s forwards; }
  @media all and (min-width: 769px) {
    .short-list {
      padding: 3rem; } }
  .short-list .short-title {
    padding-bottom: 1rem; }
  .short-list ul li {
    margin-top: 1rem;
    padding-left: 1rem;
    list-style: none;
    border-left: 2px solid #d2cdff; }

@media all and (max-width: 768px) {
  .about-intro .about-bio {
    flex-direction: column; }
    .about-intro .about-bio .about-img {
      width: 50%; } }
@media all and (max-width: 480px) {
  .about-img {
    width: 80%; } }
/* resume */
.pdf-link {
  text-transform: lowercase;
  letter-spacing: 0; }

.pdf-link:hover {
  background-color: #87ffe3; }

.resume-format {
  width: 100%;
  max-width: 550px; }

.resume-shim {
  height: 10px; }

.resume-header {
  margin: 2rem 0 0 0;
  font-weight: 400; }

.resume-subheader {
  margin: 0.5rem 0;
  color: #8f80ff; }

.resume-ul li {
  margin-top: 1rem;
  padding-left: 1rem;
  list-style: none;
  border-left: 2px solid #d2cdff; }

/* 404 */
.broken-container {
  width: 100%;
  margin: 0; }

.broken-header {
  font-size: 50px; }

.broken-float {
  float: left;
  padding-top: 20px; }

.broken-text {
  margin: 1rem 0;
  font-size: 2rem; }

.broken-link {
  font-weight: 300;
  text-decoration: none;
  color: #0f0080; }

.broken-link:hover {
  text-decoration: none; }

.broken-pic {
  float: left;
  width: 50%;
  margin-left: -50px; }

/* print styles */
@media print {
  * {
    background: transparent !important;
    color: #060034 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #e9e6ff;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */
