{% include worth-it.html %}
<html lang="en">
  {% include head.html %}
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">Uh-oh! Looks like you’re using an <strong>outdated</strong> browser. You should definitely <a href="https://browsehappy.com/">upgrade</a>. May I suggest Google Chrome, Firefox or Safari?</p>
    <![endif]-->

    <main class="page-container">

      {% include nav.html %}

      {{ content }}

    </main> <!-- .page-container -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    {% if page.url == "/favorite-things" %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.0/list.min.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="assets/js/favorite-things.js"></script>
    {% else %}
      <script src="assets/js/main.js"></script>
    {% endif %}
  </body>
</html>
