{% include worth-it.html %}
<html lang="en">
  {% include head.html %}
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">Uh-oh! Looks like you’re using an <strong>outdated</strong> browser. You should definitely <a href="https://browsehappy.com/">upgrade</a>. May I suggest Google Chrome, Firefox or Safari?</p>
    <![endif]-->

    <main class="drinks-wrapper">
      <h1 class="drinks-title">Here, Drink This</h1>
      <ol class="drinks-list">
        <li class="drinks-list-item"><a href="https://thecrookedcarrot.com/winter-cranberry-spritz/">Winter Cranberry Spritz</a></li>
        <li class="drinks-list-item"><a href="https://www.foodandwine.com/recipes/almond-fennel-cooler">Almond Fennel Cooler</a></li>
        <li class="drinks-list-item"><a href="https://www.bonappetit.com/recipe/pg-13-singapore-sling">Virgin Singapore Sling</a></li>
        <li class="drinks-list-item"><a href="http://onetwosimplecooking.com/blog/2012/8/31/grapefruit-basil-mimosas">Ginger Grapefruit Basil Spritzer</a></li>
        <li class="drinks-list-item"><a href="https://www.watchwhatueat.com/non-alcoholic-pineapple-mojito/">Pineapple Mojito</a></li>
        <li class="drinks-list-item"><a href="https://www.bonappetit.com/recipe/leche-de-tigre">Leche de Tigre</a></li>
      </ol>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

  </body>
</html>
