{% include worth-it.html %}
<html lang="en">
  {% include head.html %}
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">Uh-oh! Looks like you're using an <strong>outdated</strong> browser. You should definitely <a href="https://browsehappy.com/">upgrade</a>. May I suggest Google Chrome, Firefox or Safari?</p>
    <![endif]-->

    <main class="wrapper">
      <div id="rotating-item-wrapper">
        <img src="/assets/img/rrbc/rrbc-1.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-2.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-3.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-4.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-5.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-6.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-7.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-8.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-9.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-10.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-11.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-12.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-13.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-14.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-15.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-16.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-17.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-18.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-19.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-20.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-21.jpg" class="rotating-item" />
        <img src="/assets/img/rrbc/rrbc-22.jpg" class="rotating-item" />
      </div>
      <div class="welcome">
        <h1 class="title title-top">Welcome</h1>
        <h1 class="title title-middle">to RadRun</h1>
        <h1 class="title title-bottom">BeerClub</h1>
      </div>
    </main>

    <ul>
      <li>
        <h3><span class="step">Step</span><span class="number">1</span></h3>
        <p>It begins with an optional group run, 2–3 miles or whatever the group feels like. Maybe we run by some historic beer-related buildings in the hood, maybe we don't.</p>
      </li>
      <li>
        <h3><span class="step">Step</span><span class="number">2</span></h3>
        <p>On our way back, we stop by a beer shop to pick up a mix-and-match 6-pack. (Note that only those on the run get to choose the beer.)</p>
      </li>
      <li>
        <h3><span class="step">Step</span><span class="number">3</span></h3>
        <p>We come back to the office and pour a beer flight for each person. Anyone not on the run is encouraged to join.</p>
      </li>
      <li>
        <h3><span class="step">Step</span><span class="number">4</span></h3>
        <p>Each beer is tasted as a group. After each round, anyone can choose that beer to describe. Each person can only choose one beer. Multiple people can choose a single beer.</p>
      </li>
      <li>
        <h3><span class="step">Step</span><span class="number">5</span></h3>
        <p>When someone chooses a beer to describe, they are given 30 seconds to comment on their chosen beer in the manner of a <a href="https://www.wnyc.org/story/314394-wine-has-sommeliers-now-beer-has-cicerones/" target="_blank" rel="noopener">cicerone</a> (or however they like). Demonstrations can be provided.</p>
      </li>
      <li>
        <h3><span class="step">Step</span><span class="number">6</span></h3>
        <p>When all rounds are completed, we all then vote on the best description. Descriptions shall be judged on <strong>accuracy</strong>, <strong>imagination</strong>, and <strong>insight</strong>.</p>
      </li>
    </ul>

    <footer>
      <p>RadRunBeerClub<sup>®</sup></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="assets/js/rrbc.js"></script>

  </body>
</html>
