/* 404 */

.broken-container {
  width: 100%;
  margin: 0;
}

.broken-header {
  font-size: 50px;
}

.broken-float {
  float: left;
  padding-top: 20px;
}

.broken-text {
  margin: 1rem 0;
  font-size: 2rem;
}

.broken-link {
  font-weight: 300;
  text-decoration: none;
  color: $darkblue;
}

.broken-link:hover {
  text-decoration: none;
}

.broken-pic {
  float: left;
  width: 50%;
  margin-left: -50px;
}
