/* work */

.all-caps {
  text-transform: uppercase;
  letter-spacing: .15rem;
  animation: textColorFlash 2s 1;
}

@keyframes textColorFlash {
  0% { color: $aqua; }
  25% { color: $aqua; }
  100% { color: $darkblue; }
}

.grid {
  width: 90%;
  img {
    display: inline-block;
    width: 120px;
    margin: 20px;
    padding: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
    @include media(small) {
      width: 100%
    }
  }
}

.caption {
  width: 100%;
}

.work-list {
  list-style: none;
  margin: 2rem 0;
  li {
    line-height: 1.4;
    padding-bottom: 1.5rem;
  }
}

.screenshot {
  width: 100%;
  margin: 2rem 0 0 0;
  a {
    position: relative;
    top: 0;
    transition: top ease 0.25s;
    &:hover {
      top: -3px;
      background: none;
    }
  }
}

.popup {
  width: 60%;
}

.close {
  float: right;
  margin: 0;
  font-size: 1rem;
  color: $darkblue;
  cursor: pointer;
  &:hover {
    background-color: $aqua;
  }
}

.large {
  width: 100%;
  cursor: pointer;
}

.explainer {
  color: $darkblue;
  a {
    color: $blue;
    &:hover {
      background-color: $aqua;
    }
  }
}

.shorten {
  width: 90%;
}

.top {
  display: inline;
  cursor: pointer;
  &:hover {
    background: $aqua;
  }
}

// talks

.talk-list-item {
  @include mediaMin(medium) {
    p {
      width: 80%;
    }
  }
}

.talk-list-item:not(:last-of-type) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $lightblue;
}

.talk-title {
  font-weight: 600;
}

.talk-date {
  margin: 0.5rem 0 1rem 0;
  font-style: italic;
}

.talk-resources {
  margin-top: 0.5rem;
  font-size: 80%;
}

.notes {
  width: 80%;
  padding: 25px 0 0 0;
  h4 {
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
}

/* media queries */

@include media(medium) {

  .large {
    width: 100%;
  }

  .top {
    padding-bottom: 2rem;
  }

}
